{% extends '_base.html' %}
{% load static %}

{% block title %}About PyCon Tanzania{% endblock %}

{% block content %}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <section aria-label="section">
        <div class="container">
            <div class="row align-items-center py-3">
                <div class="col-md-6 py-5 pe-5">
                    <iframe width="100%" height="420" src="https://www.youtube.com/embed/4Elmrr3P_vo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <h2>Python Conference (Pycon) </h2>
                    <p>
                        Is an annual gathering of Python programming language users in Tanzania which includes software
                        developers, data scientists, data analysts & techies from various organisations. The conference
                        is organised by members of the Python Tanzania Users Group, a community dedicated to advancing
                        the use of the Python language and technology in Tanzania.
                    </p>
                    <h4 class="mb-1">For Pycon 2021</h4>
                    <div class="de-box border-0 shadow-none ps-0 pt-2" style="background-size: cover;">
                        <div class="sm-icon mb-3" style="background-size: cover;">
                            <i class="bg-color fa fa-calendar-check-o"></i>
                            <div class="si-inner" style="background-size: cover;">
                                <h5>Date &amp; Time</h5>
                                01 - 05 Dec 2021, 08:00 AM to 05:00PM
                            </div>
                        </div>
                        <div class="sm-icon mb-3" style="background-size: cover;">
                            <i class="bg-color fa fa-map-marker"></i>
                            <div class="si-inner" style="background-size: cover;">
                                <h5>Location</h5>
                                <a href="https://goo.gl/maps/VvZ8XHAJ8V6T7tBd6" target="_blank">Institute of Accountancy
                                    Arusha &rarr;</a>
                            </div>
                        </div>
                        <div class="sm-icon no-bottom d-none" style="background-size: cover;">
                            <i class="bg-color fa fa-users"></i>
                            <div class="si-inner" style="background-size: cover;">
                                <h5>Capacity</h5>
                                100 persons
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacer-triple"></div>


            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h2>Join Us for One week of </h2>
                    <p>
                        Workshops, technical presentations/talks, lightening talks, hackathons, research showcasing,
                        community collaboration and networking.
                    </p>
                </div>
                <div class="spacer-10"></div>
            </div>

            <div class="spacer-triple"></div>

            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h2>The Organizing Team</h2>
                    <div class="small-border bg-color"></div>
                    <p>
                        The PyCon Tanzania organising committee team are experienced tech eco-system community members
                        who have in the past, volunteered as organisers of various tech meetings beyond just PyCon
                        Tanzania event.
                    </p>
                    <a href="mailto:secretariat@pycon.or.tz" class="btn-cta">Email Us at secretariat@pycon.or.tz</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="https://www.linkedin.com/in/mainamukhangunoah/">
                                            <i class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/2021/speakers/noah.png' %}" class="fp-image img-fluid"
                                alt="Noah" />
                        </div>

                        <h4>Noah</h4>
                        Convener
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="htts://twitter.com/mtuchidev"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="https://www.linkedin.com/in/mtuchi/"><i
                                                class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/team/mtuchi.png' %}" class="fp-image img-fluid" alt="Mtuchi" />
                        </div>

                        <h4>Mtuchi</h4>
                        Secretariate
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="https://twitter.com/juliusmoshiro">
                                            <i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="https://www.linkedin.com/in/juliustm/">
                                            <i class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/team/julius.png' %}" class="fp-image img-fluid"
                                alt="Julius TM" />
                        </div>

                        <h4>Julius TM</h4>
                        Ticket & Registration
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="https://twitter.com/nsomazr"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="https://www.linkedin.com/in/zephania-reuben-a42233185/"><i
                                                class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/2021/speakers/zephania.png' %}" class="fp-image img-fluid"
                                alt="Zephania" />
                        </div>

                        <h4>Zephania</h4>
                        Transport
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="https://twitter.com/Davis_McDavid"><i
                                                class="fa fa-twitter fa-lg"></i></a>
                                        <a href="https://www.linkedin.com/in/davis-david-783461124/"><i
                                                class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/2021/speakers/davis.png' %}" class="fp-image img-fluid"
                                alt="Davis" />
                        </div>

                        <h4>Davis</h4>
                        Speakers Dept
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="https://twitter.com/zee_sherally"><i
                                                class="fa fa-twitter fa-lg"></i></a>
                                        <a href="https://www.linkedin.com/in/zeenath-abdulaziz-68ab4991/"><i
                                                class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/team/zee.jpg' %}" class="fp-image img-fluid" alt="" />
                        </div>

                        <h4>Zee</h4>
                        Outreach
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 mb30">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/2021/speakers/zephania.png' %}" class="fp-image img-fluid"
                                alt="" />
                        </div>

                        <h4>James</h4>
                        Logistics
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}