{% extends '_base.html' %}

{% block title %}Covid-19 Travel Guidelines{% endblock %}

{% block content %}
<div class="no-bottom no-top" id="content">
    <a href="https://www.moh.go.tz/en/covid-19-info">Ministry of Health Tanzania </a>
    <a href="https://afyamsafiri.moh.go.tz/">Ministry of Health Tanzania </a>
    <a href="https://tz.usembassy.gov/covid-19-information/">US Embassy</a>
    <a
        href="https://travel.state.gov/content/travel/en/international-travel/International-Travel-Country-Information-Pages/Tanzania.html">Wolrd
        Helath Organization</a>
</div>
{% endblock content %}