{% extends '_base.html' %}

{% block title %}Sponsorship Prospectus{% endblock %}

{% block content %}
<section id="section-pricing" class="no-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <h2>Select Your Plan</h2>
                    <div class="spacer-20"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <div class="switch-set">
                    <div>Daily</div>
                    <div><input id="sw-1" class="switch" type="checkbox" /></div>
                    <div>Monthly</div>
                    <div class="spacer-20"></div>
                </div>
            </div>
        </div>
        <div class="item pricing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-s1 mb30">
                            <div class="top">
                                <h2>Private Office</h2>
                                <p class="plan-tagline">Best for personal</p>
                            </div>
                            <div class="mid bg-color-secondary text-light">
                                <p class="price">
                                    <span class="currency">$</span>
                                    <span class="m opt-1">39</span>
                                    <span class="y opt-2">19</span>
                                    <span class="month">p/day</span>
                                </p>
                            </div>

                            <div class="bottom">
                                <ul>
                                    <li><i class="fa fa-check"></i>24/7 Access</li>
                                    <li><i class="fa fa-check"></i>High speed Wi-Fi</li>
                                    <li><i class="fa fa-check"></i>Secure keycard access</li>
                                    <li><i class="fa fa-check"></i>Dedicated phone line</li>
                                    <li><i class="fa fa-check"></i>Meeting room usage</li>
                                    <li><i class="fa fa-check"></i>Daily cleaning service</li>
                                </ul>
                            </div>

                            <div class="action">
                                <a href="" class="btn-main">Sign Up Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-s1 mb30">
                            <div class="top">
                                <h2>Coworking Space</h2>
                                <p class="plan-tagline">Best for small group</p>
                            </div>

                            <div class="mid bg-color-secondary text-light">
                                <p class="price">
                                    <span class="currency">$</span>
                                    <span class="m opt-1">169</span>
                                    <span class="y opt-2">89</span>
                                    <span class="month">p/day</span>
                                </p>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li><i class="fa fa-check"></i>24/7 Access</li>
                                    <li><i class="fa fa-check"></i>High speed Wi-Fi</li>
                                    <li><i class="fa fa-check"></i>Secure keycard access</li>
                                    <li><i class="fa fa-check"></i>Dedicated phone line</li>
                                    <li><i class="fa fa-check"></i>Meeting room usage</li>
                                    <li><i class="fa fa-check"></i>Daily cleaning service</li>
                                </ul>
                            </div>

                            <div class="action">
                                <a href="" class="btn-main">Sign Up Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-s1 mb30">
                            <div class="top">
                                <h2>Virtual Office</h2>
                                <p class="plan-tagline">Best for organization</p>
                            </div>
                            <div class="mid bg-color-secondary text-light">
                                <p class="price">
                                    <span class="currency">$</span>
                                    <span class="m opt-1">329</span>
                                    <span class="y opt-2">164</span>
                                    <span class="month">p/day</span>
                                </p>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li><i class="fa fa-check"></i>24/7 Access</li>
                                    <li><i class="fa fa-check"></i>High speed Wi-Fi</li>
                                    <li><i class="fa fa-check"></i>Secure keycard access</li>
                                    <li><i class="fa fa-check"></i>Dedicated phone line</li>
                                    <li><i class="fa fa-check"></i>Meeting room usage</li>
                                    <li><i class="fa fa-check"></i>Daily cleaning service</li>
                                </ul>
                            </div>

                            <div class="action">
                                <a href="" class="btn-main">Sign Up Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}