{% extends '_2022.html' %}
{% load static %}

{% block title %}
  PyCon Tanzania 2022
{% endblock %}

{% block content %}
  <div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" aria-label="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="spacer-single"></div>
            <h6 class="wow fadeInUp" data-wow-delay=".5s"><span class="text-uppercase id-color-2">Karibu PyCon Tanzania</span></h6>
            <div class="spacer-10"></div>
            <h1 class="wow fadeInUp" data-wow-delay=".75s">The <span class="id-color">4th</span> annual python language conference.</h1>
            <p class="wow fadeInUp lead" data-wow-delay="1s">For professionals, entrepreneurs, scientists and students in Tanzania, organized by the tech-community to foster collaboration and advancement of technology.</p>
            <div class="spacer-10"></div>
            {% comment %} <a href="{% url 'sponsor' %}" class="btn btn-cta wow fadeInUp lead" data-wow-delay="1.25s">Become A Sponsor</a> {% endcomment %}
            <div class="spacer-single"></div>
            <div class="row" style="display: none;">
              <h6 class="wow fadeInUp lead" data-wow-delay=".5s">Our gold sponsors</h6>
              <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <a href="https://www.python.org/psf/" target="_blank"><img src="{% static 'images/sponsors/psf.png' %}" class="img-fluid" alt="PSF" /></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <a href="https://habari.co.tz" target="_blank"><img src="{% static 'images/sponsors/habari.png' %}" class="img-fluid" alt="habari" /></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <a href="https://tispa.or.tz" target="_blank"><img src="{% static 'images/sponsors/tispa.png' %}" class="img-fluid" alt="tispa" /></a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-4 wow fadeInRight mb30" data-wow-delay="1.1s">
                <div class="de_count text-left">
                  <h3><span>4<sup>th</sup> - 8<sup>th</sup></span></h3>
                  <h4 class="id-color">December 2022</h4>
                </div>
              </div>

              <div class="col-lg-7 col-md-6 col-sm-4 wow fadeInRight mb30" data-wow-delay="1.4s">
                <div class="de_count text-left">
                  <h3>
                    <span>Venue</span>
                    <a href="https://goo.gl/maps/87Gm8FMvckLLJ6mh6" target="_blank">&rarr;</a>
                  </h3>
                  <h4 class="id-color">Suza Zanzibar</h4>
                </div>
              </div>
            </div>
            <div class="mb-sm-30"></div>
          </div>
          <div class="col-md-6 xs-hide">
            <div id="home-carousel" class="owl-carousel py-5 ps-5">
              <div class="item">
                <img src="{% static 'images/2022/hero/1.png' %}" alt="" class="img-fluid" />
              </div>
              <div class="item">
                <img src="{% static 'images/2022/hero/2.png' %}" alt="" class="img-fluid" />
              </div>
              <div class="item">
                <img src="{% static 'images/2022/hero/3.png' %}" alt="" class="img-fluid" />
              </div>
              <div class="item">
                <img src="{% static 'images/2020/9.jpg' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section-intro">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-12">
            <div class="text-center">
              <h2>Speakers</h2>
              <div class="small-border bg-color-2"></div>
            </div>
          </div>

          <!--                <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img
                  src="{% static 'images/2022/saida.webp' %}"
                  class="img-fluid"
                  alt="Saida Nyasasi"
                />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Saida Nyasasi</h3>
              </div>
            </div>
          </div>                -->
          <!--                <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img
                  src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2FDina_Machuve-round_erthzd&w=1920&q=75"
                  class="img-fluid"
                  alt="Christina Sompo"
                />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Christina Sompo</h3>
                <p class="fw-bold mb-">Python Software Foundation</p>
              </div>
            </div>
          </div>                -->
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2022/loren.webp' %}" class="img-fluid" alt="Loren Crary" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Loren Crary</h3>
                <p class="fw-bold mb-">Python Software Foundation</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2FDina_Machuve-round_erthzd&w=1920&q=75" class="img-fluid" alt="Dr. Dina Machuve" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Dr. Dina Machuve</h3>
                <p class="fw-bold mb-">Co-Founder DevData Analytics</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2FJoanround_ikrlq1&w=1920&q=75" class="img-fluid" alt="Joan Henry" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Joan Henry</h3>
                <p class="fw-bold">Software Developer</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F2-round_bh94vi&w=1920&q=75" class="img-fluid" alt="Monalisa Mbilinyi" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Monalisa Mbilinyi</h3>
                <p class="fw-bold mb-">Python Software Developer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2FAnthony_Mipawa-round_yarqeh&w=1920&q=75" class="img-fluid" alt="Antony Mipawa" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Antony Mipawa</h3>
                <p class="fw-bold mb-">Software Developer Neurotech</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2FIsack_Odero-round_f4rpnc&w=1920&q=75" class="img-fluid" alt="Isack Odero" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Isack Odero</h3>
                <p class="fw-bold mb-">Founder NileAGI</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F0-round_mxbkpj&w=1920&q=75" class="img-fluid" alt="Abubakar Omar" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Abubakar Omar</h3>
                <p class="fw-bold mb-">Python Teacher</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2FMridul_Seth-round_pt2rk2&w=1920&q=75" class="img-fluid" alt="Mridul Seth" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Mridul Seth</h3>
                <p class="fw-bold mb-">Python Software Developer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2Fzephania_nil9v6&w=1920&q=75" class="img-fluid" alt="Zephania Reuben" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Zephania Reuben</h3>
                <p class="fw-bold mb-">Assistant Researcher AI4D Lab</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F5-round_y7tuly&w=1920&q=75" class="img-fluid" alt="Khairiya Masoud" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Khairiya Masoud</h3>
                <p class="fw-bold mb-">State University of Zanzibar</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F4-round_saa9co&w=1920&q=75" class="img-fluid" alt="Issa Mshani" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Issa Mshani</h3>
                <p class="fw-bold mb-">Research Scientist Ifakara Health Institute</p>
                <!--                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://techdealers.co.tz/" target="_blank">
                    Techdealers
                  </a>
                  <a
                    href="https://www.linkedin.com/in/lusajo-shitindi-12368b20a/"
                    class="btn btn-speaker"
                    >Speaker Profile &rarr; <span></span>
                  </a>
                </div>                -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F1-round_z3mclg&w=1920&q=75" class="img-fluid" alt="Hassan Kibirige" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Hassan Kibirige</h3>
                <p class="fw-bold mb-">Author of Plotnine Python Library</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F6-round_xpvqnp&w=1920&q=75" class="img-fluid" alt="Nathaniel Mwaipopo" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Nathaniel Mwaipopo</h3>
                <p class="fw-bold mb-">Python Software Developer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2Fkalebu_fh3xmw&w=1920&q=75" class="img-fluid" alt="Kalebu Gwalugano" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Kalebu Gwalugano</h3>
                <p class="fw-bold mb-">Founder Neurotech</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F3-round_elfgz7&w=1920&q=75" class="img-fluid" alt="Alban Manishimwe" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Alban Manishimwe</h3>
                <p class="fw-bold mb-">Uganda Bureau of Statistics</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="https://next-pycon.vercel.app/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fpycontz%2Fimage%2Fupload%2Fv1%2Fmedia%2F8-round_jgdf8o&w=1920&q=75" class="img-fluid" alt="Mahir Nasor" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Mahir Nasor</h3>
                <p class="fw-bold mb-">Z TechHub Zanzibar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-5 bg-color-secondary">
      <div class="row d-flex align-items-center justify-content-between">
        <div class="col-lg-8">
          <h1>Covid-19 Travel Guidelines</h1>
          <h4>Please read the following resources to get more information about vaccine & test</h4>
        </div>
        <div class="col-lg-4 text-end">
          <a href="{% url 'travel' %}" class="btn btn-covid">Zanzibar Travel Advice &rarr;</a>
        </div>
      </div>
    </section>
    <!--                 <section class="p-5 bg-color-secondary">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-lg-8">
        <h1>Zanzibar Travel Guideline</h1>
        <h4>Please read the following resources to get more information about vaccine & test </h4>

      </div>
      <div class="col-lg-4 text-end">
        <a href="{% url 'travel' %}" class="btn btn-covid">Zanzibar Travel Advice &rarr;</a>
      </div>
    </div>
  </section>                 -->
  </div>
{% endblock %}
