{% extends '_2022.html' %} {% block title %}Pycon Event Schedule{% endblock %}
{% block content %}
<div class="flex-grow-1 no-bottom no-top" id="content">
  <section id="subheader" class="s2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2>Final Timetable</h2>
        </div>
        <div class="col-md-4">
          <div class="pull-right">Time left until event:</div>
          <div class="clearfix"></div>
          <div
            class="de_countdown id-color-2"
            data-year="2022"
            data-month="12"
            data-day="5"
            data-hour="8"
          ></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="spacer-single"></div>
    <div class="row" style="background-size: cover">
      <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active rounded-0"
            id="pills_day_one_tab"
            data-bs-toggle="pill"
            data-bs-target="#pills_day_one"
            type="button"
            role="tab"
            aria-controls="pills_day_one"
            aria-selected="true"
          >
            Day One - 5<sup>th</sup> Dec 2022
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link rounded-0"
            id="pills_day_two_-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills_day_two"
            type="button"
            role="tab"
            aria-controls="pills_day_two"
            aria-selected="false"
          >
            Day Two - 6<sup>th</sup> Dec 2022
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link rounded-0"
            id="pills_day_three_tab"
            data-bs-toggle="pill"
            data-bs-target="#pills_day_three"
            type="button"
            role="tab"
            aria-controls="pills_day_three"
            aria-selected="false"
          >
            Day Three - 7 <sup>th</sup> Dec 2022
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link rounded-0"
            id="pills_day_four_tab"
            data-bs-toggle="pill"
            data-bs-target="#pills_day_four"
            type="button"
            role="tab"
            aria-controls="pills_day_four"
            aria-selected="false"
          >
            Day Three - 8 <sup>th</sup> Dec 2022
          </button>
        </li>
      </ul>
      <div
        class="tab-content"
        id="pills-tabContent"
        style="background-size: cover"
      >
        <div
          class="tab-pane fade show active"
          id="pills_day_one"
          role="tabpanel"
          aria-labelledby="pills_day_one"
          style="background-size: cover"
        >
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>9:00-9:30</p>
            </div>
            <div class="col-md-7">
              <h4>Opening Keynotes</h4>
              <p>VC State University of Zanzibar</p>
            </div>
          </div>
          <div class="row bg-grey pt-3">
            <div class="col-md-3">
              <!-- <p class="">Wed 1st Dec</p> -->
              <p>9:30-10:00</p>
            </div>
            <div class="col-md-7">
              <h4>Dean - State University of Zanzibar</h4>
              <p>HoD -State University of Zanziba</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:00-10:30</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Breakfast</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:30-11:30</p>
            </div>
            <div class="col-md-7">
              <h4>Why Python - Usecases</h4>
              <p>Foundation of Python Bootcamp</p>
              <p>Joan & Abubakar</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>11:30-12:30</p>
            </div>
            <div class="col-md-7">
              <h4>Django Python Web Development</h4>
              <p>Lugano Ngulwa</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>12:30-13:00</p>
            </div>
            <div class="col-md-7">
              <h4>Network Analysis Made Simple Using NetworkX</h4>
              <p>Mridul Seth</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>13:00-14:00</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Lunch</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>14:00-15:00</p>
            </div>
            <div class="col-md-7">
              <h4>Network Analysis Made Simple Using NetworkX</h4>
              <p>Mridul Seth</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>15:00-16:00</p>
            </div>
            <div class="col-md-7">
              <h4>HACKATHON - NLP for African Languages Building</h4>
              <p>Chatbots with Sarufi - Jordan Kalebu</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>16:00-16:15</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <!-- <p>Lunch</p> -->
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>16:15-17:15</p>
            </div>
            <div class="col-md-7">
              <h4>HACKATHON - NLP for African Languages Building</h4>
              <p>Chatbots with Sarufi - Jordan Kalebu</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>17:15</p>
            </div>
            <div class="col-md-7">
              <h4>PyCon Social Event</h4>
              <!-- <p>Chatbots with Sarufi</p> -->
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills_day_two"
          role="tabpanel"
          aria-labelledby="pills_day_two"
          style="background-size: cover"
        >
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>9:00-10:00</p>
            </div>
            <div class="col-md-7">
              <h4>HACKATHON - NLP for African Languages</h4>
              <p>Building Chatbots with Sarufi - Jordan Kalebu</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:00-10:30</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Breakfast</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:30-13:00</p>
            </div>
            <div class="col-md-7">
              <h4>Basket Analysis with Python</h4>
              <p>HACKATHON - Rodrick Kayombo TIGO</p>
            </div>
          </div>

          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>13:00-14:00</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Lunch</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>14:00-16:00</p>
            </div>
            <div class="col-md-7">
              <h4>Basket Analysis with Python</h4>
              <p>HACKATHON - Rodrick Kayombo TIGO</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>16:00-16:15</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <!-- <p>Lunch</p> -->
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <p>16:15-16:45</p>
            </div>
            <div class="col-md-7">
              <h4>Basket Analysis with Python</h4>
              <p>HACKATHON - Rodrick Kayombo TIGO</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <p>16:45-17:15</p>
            </div>
            <div class="col-md-7">
              <h4>Hackathon Birds of Feather (BOF)</h4>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>17:15</p>
            </div>
            <div class="col-md-7">
              <h4>PyCon Social Event</h4>
              <!-- <p>Chatbots with Sarufi</p> -->
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills_day_three"
          role="tabpanel"
          aria-labelledby="pills_day_three-tab"
          style="background-size: cover"
        >
          <div class="row pt-3">
            <div class="col-md-3">
              <p>9:00-9:30</p>
            </div>
            <div class="col-md-7">
              <h4>Keynote - Loren Crary</h4>
              <p>Python Software Foundation</p>
            </div>
          </div>
          <div class="row bg-grey pt-3">
            <div class="col-md-3">
              <!-- <p class="">Wed 1st Dec</p> -->
              <p>9:30-10:00</p>
            </div>
            <div class="col-md-7">
              <h4>Time Series Forecasting with Python</h4>
              <p>Newton Mwalongo - TIGO</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:00-10:30</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Breakfast</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:30-11:00</p>
            </div>
            <div class="col-md-7">
              <h4>Why is Data Science Necessary, Why Now?</h4>
              <p>- Hassan Kibirige</p>
              <!-- <h4>Species Determination of Malaria Vectors Using AI</h4> -->
              <!-- <p>Foundation of Python Bootcamp</p> -->
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>11:00-11:30</p>
            </div>
            <div class="col-md-7">
              <h4>Species Determination of Malaria Vectors Using AI</h4>
              <p>- Issa Mshani</p>
              <!-- <h4>
                Analysing the Development of Cervical Cancer Machine Learning
              </h4> -->
              <!-- <p>Foundation of Python Bootcamp</p> -->
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>11:30-12:00</p>
            </div>
            <div class="col-md-7">
              <h4>
                Analysing the Development of Cervical Cancer Machine Learning
              </h4>
              <p>- Eng.Saida Nyasasi</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>12:00-12:30</p>
            </div>
            <div class="col-md-7">
              <h4>Explainability for Natural Language Processing</h4>
              <p>- Antony Mipawa</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>12:30-13:00</p>
            </div>
            <div class="col-md-7">
              <h4>Poultry Disease Diagnosis with Deep Learning</h4>
              <p>- Dr.Dina Machuve</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>13:00-14:00</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Lunch</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>14:00-14:30</p>
            </div>
            <div class="col-md-7">
              <h4>Predicting Fake News Using GCN</h4>
              <p>- Zephania Reuben</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>14:30-15:00</p>
            </div>
            <div class="col-md-7">
              <h4>Open Source Is Not Free</h4>
              <p>- Kalebu Jordan</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>15:00-15:30</p>
            </div>
            <div class="col-md-7">
              <h4>Transformers and Self Attention</h4>
              <p>- Isack Odero</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>15:30-16:00</p>
            </div>
            <div class="col-md-7">
              <h4>Panel Discussion on DS/ML/AI</h4>
              <p>- Issa Mshani and Eng.Saida Nyasasi</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>16:00-16:15</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <!-- <p>Lunch</p> -->
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>16:15-17:15</p>
            </div>
            <div class="col-md-7">
              <h4>Lightening Talks</h4>
              <p>- Noah & Julius PyCon</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>17:15</p>
            </div>
            <div class="col-md-7">
              <h4>PyCon Social Event</h4>
              <!-- <p>Chatbots with Sarufi</p> -->
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills_day_four"
          role="tabpanel"
          aria-labelledby="pills_day_four-tab"
          style="background-size: cover"
        >
          <div class="row pt-3">
            <div class="col-md-3">
              <p>9:00-9:30</p>
            </div>
            <div class="col-md-7">
              <h4>Python for Embedded Things n</h4>
              <p>- Mahir Nasor</p>
            </div>
          </div>
          <div class="row bg-grey pt-3">
            <div class="col-md-3">
              <!-- <p class="">Wed 1st Dec</p> -->
              <p>9:30-10:00</p>
            </div>
            <div class="col-md-7">
              <h4>WebScrapping with Beautiful Soup</h4>
              <p>- Mwaipopo</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:00-10:30</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Breakfast</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>10:30-11:00</p>
            </div>
            <div class="col-md-7">
              <h4>WebScrapping of Consumer Prices</h4>
              <p>- Alban Manishimwe</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>11:00-11:30</p>
            </div>
            <div class="col-md-7">
              <h4>Testing Smart Contracts with PyTest & Brownie</h4>
              <p>- Simbo Ntiro</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>11:30-12:00</p>
            </div>
            <div class="col-md-7">
              <h4>Geospatial Data Analysis using Python</h4>
              <p>- Khairiya Masoud</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>12:00-12:30</p>
            </div>
            <div class="col-md-7">
              <h4>Python Web Development with Django</h4>
              <p>- Lugano Ngulwa</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>12:30-13:00</p>
            </div>
            <div class="col-md-7">
              <h4>Using Odoo (The Python ERP Framework) to Build Career</h4>
              <p>- Yesaya Athuman</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>13:00-14:00</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <p>Lunch</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>14:00-14:30</p>
            </div>
            <div class="col-md-7">
              <h4>Fun Simple Python Programs</h4>
              <p>- Monalisa Mbilinyi</p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>14:30-15:00</p>
            </div>
            <div class="col-md-7">
              <h4>Building Interactive by Scratch Programming</h4>
              <p>- Sami Gezici</p>
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>15:00-15:30</p>
            </div>
            <div class="col-md-7">
              <h4>Business Analysis with AI Inspiring Women in AI</h4>
              <!-- <p>Chatbots with Sarufi</p> -->
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>15:30-16:00</p>
            </div>
            <div class="col-md-7">
              <h4>Lightening Talks Pyladies</h4>
              <!-- <p>Chatbots with Sarufi</p> -->
            </div>
          </div>
          <div class="row pt-3 bg-grey">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>16:00-16:15</p>
            </div>
            <div class="col-md-7">
              <h4>Break</h4>
              <!-- <p>Lunch</p> -->
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-3">
              <!-- <p>Workshops & Hackathons</p> -->
              <p>16:15-16:45</p>
            </div>
            <div class="col-md-7">
              <h4>Closing Keynote Director General ICT Commission</h4>
              <!-- <p>Chatbots with Sarufi</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
