{% load static %}
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-lg-between">
    <h1 class="logo me-auto me-lg-0"><a href="{% url 'home' %}"><span><img class="logo-light" src="{% static 'images/pycon-black.jpg' %}" alt="" /></span></a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'speak' %}">Speak</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'schedule' %}">Schedule</a>
        </li>

        <li>
          <a class="nav-link" href="{% url 'sponsor' %}">Sponsor</a>
        </li>

        <li>
          <a class="nav-link" href="{% url 'coc' %}">Code Of Conduct</a>
        </li>
        <li>
          <a href="https://wa.me/message/2DW2QWGHDACTM1"><button class="btn btn-primary">Buy Tickets</button></a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
