{% extends 'pycon/base.html' %}
{% load static %}
{% block content %}
  <section class="">
    <div class="container mt-3">
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="section-title">
            {% comment %} <h2>Keynote Speakers</h2> {% endcomment %}
            <p>Code of Conduct</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>
            Participants are expected to contribute to an environment that is open, welcoming, considerate and respectful.
            <br />
            We require that all attendees - delegates, speakers, volunteers, sponsors and organisers to have an enjoyable experience during the PyCon event. All attendees are expected to show respect and courtesy to one another throughout the conference and all related events. This includes social events whether officially sponsored by PyCon Tanzania or not.
          </p>

          <div class="spacer-single"></div>

          <h3>Communication</h3>
          <p>All communication should be appropriate for a general audience, which will include people from many different religions, cultures and nations.</p>
          <p>Sexual language and imagery are not welcome. Please be thoughtful when making jokes or discussing sensitive topics or issues that are likely to have a strong personal effect on some people. If in doubt, ask for advice or simply moderate your expression.</p>

          <div class="spacer-single"></div>
          <h3>Harassment</h3>
          <p>Harassment can include any unwelcome behaviour directed at another person. As such PyCon Tanzania will not tolerate behaviour that are:</p>
          <ul>
            <li>Harassment in any form, or language</li>
            <li>Sexist, racist or exclusionary</li>
            <li>Intimidating or threatening</li>
            <li>Insulting or unpleasant</li>
          </ul>

          <div class="spacer-single"></div>
          <h3>Report a misconduct</h3>
          <p>If you are troubled by the conduct of another attendee at the conference, or are concerned that another attendee may be in distress, please speak immediately to any member of conference secretariate. Your concern will be heard in confidence and taken seriously and the secretariate, volunteers and organisers - will be on hand throughout the conference. Any concern, whatever it may be, will be immediately passed on to a member of the conference secretariate.</p>
          <p>Any concern, whatever it is, will be immediately investigated promptly and if necessary appropriate action will be taken. This could include:</p>
          <ul>
            <li>Asking a violator of the CoC to leave the event immediately</li>
            <li>Informing the Python Software Foundation about the incident</li>
            <li>Informing the law enforcing authority about the incident</li>
          </ul>
          <p>To ensure transparecy, we will publish a report after the conference, containing an anonymised reports of any incidents that violated the CoC.</p>
          <p>
            Report any incidents to <strong>secretariat(at)pycon.or.tz.</strong> Thank you for helping to make PyCon Tanzania a welcoming and friendly event for all.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
