{% extends 'pycon/base.html' %}
{% load static %}
{% block content %}
  <section id="hero" class="d-flex align-items-center justify-content-center" style="background-color: #004865;">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-10 col-lg-10 text-black">
          <div class="py-4">
            {% comment %} <h4 class="pill py-3 px-5 mx-auto rounded-pill" style=" max-width: 600px;">11 - 16 Aug, 2025 <span>.</span> Arusha</h4> {% endcomment %}
          </div>

          <h2 class="text-white py-5">Join us for 5 days of inspiration, education and networking at DjangoCon Africa from 11 - 15 August, 2025 in Arusha, Tanzania</h2>
          <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/ohTNwfVmx0A?autoplay=1" title="DjangoCon Africa 2025 Preview" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container ">
    <div class="row d-flex align-items-center justify-content-center">
      
      <div class="col-lg-8 col-md-12 col-sm-12 ">
          <h3 class="mb-3 pb-5 mt-3 text-center">  Secure your spot
         <main id="uza-container" class="mt-3">
              <!-- UZA Live - Products Embed -->
              <uza-products
                  product-catalog-id=""
                  public-api-key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJyMFl3b0FLIiwiaWF0IjoxNzUzODc3OTUyLCJleHAiOjE3ODU0MTM5NTIsIm5iZiI6MTc1Mzg3Nzk1MiwianRpIjoiUmdMTldLcSIsInN1YiI6ZmFsc2UsImF1ZCI6IndlYmVtYmVkLnV6YS5jby50eiJ9.tn_hFJd8fmXATDa1nfFab40dmuUg8uTQYW30xotGN1Y"
                  source="#web"
                  refCode="#web"
                  customer-email=""
                  height="60vh"
                  __locale-override="en"
              ></uza-products>
        </main>
        <p class="text-center pt-5">OR</p>
                <h3 class="mb-3 mt-3 text-center">  Purchase via WhatsApp
              </h3>
        <p class="mb-4 text-center">Click the link below to start your ticket purchase process on WhatsApp</p>
<p class="text-center">
           <a href="https://wa.me/message/2DW2QWGHDACTM1"><button class="btn btn-primary">Buy Tickets via WhatsApp</button></a>

</p>      </div>
    </div>
  </section>
 
  
  {% comment %} <section id="services" class="services bg-py-green">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <p class="text-white">Our Programme</p>
        <h2 class="text-white pt-2">What to expect at the 5th Annual Python Conference 2024</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch rounded" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <h4 class="mb-3">Workshops</h4>
            <div class="mb-3 mx-auto" style="border-bottom: 2px solid #000; width: 50px;"></div>
            <p>Workshops are interactive sessions where you can learn new skills, get hands-on experience with Python, and even build something together. These sessions are designed to be interactive, engaging, and fun for everyone.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <h4 class="mb-3">Talks</h4>
            <div class="mb-3 mx-auto" style="border-bottom: 2px solid #000; width: 50px;"></div>
            <p>Talks are 30 minute long technical presentations, on any topic that might interest the Python community. It doesn't have to be something you've created, feel free to share something you've learned or a technique you think others will find useful.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <h4 class="mb-3">Main Conference</h4>
            <div class="mb-3 mx-auto" style="border-bottom: 2px solid #000; width: 50px;"></div>
            <p>PyCon Tanzania is the premier gathering for Python enthusiasts, developers, and tech innovators from across East Africa and beyond. Join us for an inspiring celebration of Python, featuring engaging talks, hands-on workshops, and unparalleled networking opportunities.</p>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  {% comment %} <section id="speakers">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center">
            <h1 class="display-4 text-center my-4">Keynote Speakers</h1>
            <div class="mb-3 mx-auto my-4" style="border-bottom: 2px solid #000; max-width: 100px;"></div>
            <span class="text-center lead mb-5">Join us in welcoming our distinguished keynote speakers who will share their insights,<br /> experiences, and vision for Python and technology in Tanzania and beyond. These industry leaders and innovators<br />will inspire and enlighten attendees with their expertise and passion for Python.</span>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div>
          </div>
        </div>
      </div>
    
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img text-center">
              <img src="{% static 'images/2024/prof_baraka_maiseli.jpeg' %}" class="img-fluid rounded-circle border border-3 border-success" alt="" width="180" height="180" />
            </div>
            <div class="member-info">
              <h4>Prof. Baraka<br />Maiseli</h4>
              <span>HoD ETE COICT-UDSM</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img text-center">
              <img src="{% static 'images/2024/dr_moses_ict.png' %}" class="img-fluid rounded-circle border border-3 border-success" alt="" width="180" height="180" />
            </div>
            <div class="member-info">
              <h4>Dr. Moses<br />Mwasaga</h4>
              <span>Director General - ICTC Tanzania</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img text-center">
              <img src="{% static 'images/2024/cr.jpg' %}" class="img-fluid rounded-circle border border-3 border-success" alt="" width="180" height="180" />
            </div>
            <div class="member-info">
              <h4>CatherineRose<br />Barretto</h4>
              <span>Co-Founder - Binary Labs</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img text-center">
              <img src="{% static 'images/2024/siwangu.jpg' %}" class="img-fluid rounded-circle border border-3 border-success" alt="" width="180" height="180" style="object-fit: cover;" />
            </div>
            <div class="member-info">
              <h4>Siwangu<br />Mgata</h4>
              <span>Innovation and Marketing Director - Afyacall</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img text-center">
              <img src="{% static 'images/2024/dominique.jpg' %}" class="img-fluid rounded-circle border border-3 border-success" alt="" width="180" height="180" />
            </div>
            <div class="member-info">
              <h4>Dominique<br />Hazael-Massieux</h4>
              <span>The World Wide Web Consortium</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img text-center">
              <img src="{% static 'images/team/julius.png' %}" class="img-fluid rounded-circle border border-3 border-success" alt="" width="180" height="180" />
            </div>
            <div class="member-info">
              <h4>Julius<br />Moshiro</h4>
              <span>Co-Founder - Irabu</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  {% comment %} <section class="parallax-bg" id="venue">
    <div class="row-parallax-bg">
      <div class="parallax-wrapper">
        <div class="parallax-bg-element"></div>
      </div>
      <div class="parallax-overlay gradient"></div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <div class="title text-center">
          <h2 class="upper">University of Dar Es Salaam</h2>
          <h4>4th - 5th of December</h4>
        </div>
        <div class="pb-25 pt-25 title text-center">
          <button class="btn btn-primary">Get Tickets</button>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  {% comment %} <section id="sponsors">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-6">
          <div class="section-title">
            <p>Sponsors</p>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div>
            <button class="btn btn-primary">Become a Sponsor</button>
          </div>
        </div>
      </div>

      <div class="row">
        {% for category, sponsors in sponsors_by_category.items %}
          {% for sponsor in sponsors %}
            <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
              <div data-aos="fade-up" data-aos-delay="100">
                <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }} Logo" class="img-fluid rounded-circle" />
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section> {% endcomment %}

  {% comment %} <section id="updates">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-6">
          <div class="section-title">
            <p>Event Updates</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'images/team/julius.png' %}" class="img-fluid rounded" alt="" />
            </div>
            <div class="">
              <h4>Event Title</h4>
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi expedita amet consequatur blanditiis quia, necessitatibus voluptas veniam, numquam, explicabo repellat perspiciatis eveniet inventore ducimus minus iste laboriosam mollitia laborum officiis.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <script async src="https://uza.co.tz/api/downloads/js/embeddable.js"></script>
{% endblock %}
