<!DOCTYPE html>
<html>
  {% include 'pycon/partials/_header.html' %}

  <body>
    <!-- Loader element - place this at the very top of your body tag -->
    <div id="pageLoader">
      <div class="spinner"></div>
    </div>

    <!-- Your page content goes here -->
    <div id="content">
      {% include 'pycon/partials/_navbar.html' %}

      <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-8 col-lg-8">
              <h1>We are passionate advocates for a sustainable future<span>.</span></h1>
              <h2>where women and youth play a pivotal role in environmental conservation and community development.</h2>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      window.addEventListener('load', function () {
        document.getElementById('pageLoader').classList.add('loaded')
      })
    </script>
  </body>
</html>
