{% extends 'pycon/base.html' %}
{% load static %}
{% block content %}
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-10 col-lg-10 text-black">
          <div class="py-4">
            <h4 class="pill py-3 px-5 mx-auto rounded-pill" style=" max-width: 600px;">04 - 05 December, 2024 <span>.</span> Dar es Salaam</h4>
          </div>

          <h1 class="py-3">PYCON TANZANIA<span>.</span></h1>
          <h2>Join us for the 5th Python Conference at the <span>University of Dar es Salaam, Mlimani City Campus..</span> where Python developers, enthusiasts and learners from across East Africa will gather to share knowledge, build connections and celebrate out growing tech community.</h2>
          <a href="https://wa.me/message/2DW2QWGHDACTM1" class="mt-3"><button class="btn btn-primary">Buy Tickets</button></a>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services bg-py-green">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-center">
        <p class="text-white">Our Programme</p>
        <h2 class="text-white pt-2">What to expect at the 4th Annual Python Conference 2024</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch rounded" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon bg-py-green">
              <i class="bi bi-people-fill"></i>
            </div>
            <h4><a href="">Workshops</a></h4>
            <p>
              <p>Workshops are interactive sessions where you can learn new skills, get hands-on experience with Python, and even build something together. These sessions are designed to be interactive, engaging, and fun for everyone.</p>
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon">
              <i class="bi bi-lightbulb"></i>
            </div>
            <h4><a href="">Talks</a></h4>
            <p>Lightning talks are short presentations, limited to 5 minutes, on any topic that might interest the Python community. It doesn't have to be something you've created, feel free to share something you've learned or a technique you think others will find useful.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon">
              <i class="bi bi-hammer"></i>
            </div>
            <h4><a href="">Main Conference</a></h4>
            <p>PyCon is a place for developers from across the country (and beyond) to get together and celebrate Python. But what good is a PyCon without getting your hands dirty writing some code?

              .</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="speakers">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-6">
          <div class="section-title">
            {% comment %} <h2>Keynote Speakers</h2> {% endcomment %}
            <p>Keynote Speakers</p>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div>
            {% comment %} <button class="btn btn-primary">See all Speakers</button> {% endcomment %}
          </div>
        </div>
      </div>
      {% comment %} <div>
        <p>Key note speakers will be updated soon</p>
      </div> {% endcomment %}
      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'images/2024/speaker.png' %}" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="member-info">
              <h4>John Doe</h4>
              <span>Title</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'images/2024/speaker.png' %}" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="member-info">
              <h4>John Doe</h4>
              <span>Title</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'images/2024/speaker.png' %}" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="member-info">
              <h4>John Doe</h4>
              <span>Title</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'images/2024/speaker.png' %}" class="img-fluid rounded-circle" alt="" />
            </div>
            <div class="member-info">
              <h4>John Doe</h4>
              <span>Title</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %} <section class="parallax-bg" id="venue">
    <div class="row-parallax-bg">
      <div class="parallax-wrapper">
        <div class="parallax-bg-element"></div>
      </div>
      <div class="parallax-overlay gradient"></div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <div class="title text-center">
          <h2 class="upper">University of Dar Es Salaam</h2>
          <h4>4th - 5th of December</h4>
        </div>
        <div class="pb-25 pt-25 title text-center">
          <button class="btn btn-primary">Get Tickets</button>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  {% comment %} <section id="sponsors">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-6">
          <div class="section-title">
            <p>Sponsors</p>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div>
            <button class="btn btn-primary">Become a Sponsor</button>
          </div>
        </div>
      </div>

      <div class="row">
        {% for category, sponsors in sponsors_by_category.items %}
          {% for sponsor in sponsors %}
            <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
              <div data-aos="fade-up" data-aos-delay="100">
                <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }} Logo" class="img-fluid rounded-circle" />
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section> {% endcomment %}

  {% comment %} <section id="updates">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-6">
          <div class="section-title">
            <p>Event Updates</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'images/team/julius.png' %}" class="img-fluid rounded" alt="" />
            </div>
            <div class="">
              <h4>Event Title</h4>
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi expedita amet consequatur blanditiis quia, necessitatibus voluptas veniam, numquam, explicabo repellat perspiciatis eveniet inventore ducimus minus iste laboriosam mollitia laborum officiis.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
{% endblock %}
