{% extends 'pycon/base.html' %}
{% load static %}
{% block content %}
  <section id="whysponsor" class="mt-5">
    <div class="container pt-5" data-aos="fade-up">
      <div class="spacer-single"></div>
      <div class="row" style="background-size: cover;">
        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-0" id="pills-day-one" data-bs-toggle="pill" data-bs-target="#pills-day_one" type="button" role="tab" aria-controls="pills-day_one" aria-selected="true">Day One - 1<sup>st</sup> Dec 2024</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-day-two" data-bs-toggle="pill" data-bs-target="#pills-day_two" type="button" role="tab" aria-controls="pills-day_two" aria-selected="false">Day Two - 2<sup>nd</sup> Dec 2024</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day Three - 3 <sup>rd</sup> Dec 2024</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-day_four" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day Four - 4 <sup>th</sup> Dec 2024</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-day_five" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day Five - 5 <sup>th</sup> Dec 2024</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent" style="background-size: cover;">
          <div class="tab-pane fade show active" id="pills-day_one" role="tabpanel" aria-labelledby="pills-day-one" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>08:00 - 09:00</p>
              </div>
              <div class="col-md-7">
                <h4>Arrivals and Registration</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>09:00 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Django Girls Workshop</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch Break</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>13:30 - 16:30</p>
              </div>
              <div class="col-md-7">
                <h4>Django Girls Workshop</h4>
                <p>Everyone</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-day_two" role="tabpanel" aria-labelledby="pills-day-two" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>08:30 - 09:30</p>
              </div>
              <div class="col-md-7">
                <h4>Arrivals and Registration</h4>
                <p>Everyone</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>09:30 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: Building Android Apps with Python: From Basics to Deployment using Kivy and KivyMD</h4>
                <p>Aqulline Vendeline Mbuya</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch Break</h4>
                <p>Everyone</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>13:30 - 16:00</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: An Introduction to Plotnine: Visualising Data using The Grammar of Graphics</h4>
                <p>Hasan Kibirige</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>08:30 - 9:30</p>
              </div>
              <div class="col-md-7">
                <h4>Arrivals and Registration</h4>
                <p>Everyone</p>
              </div>
            </div>

            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p>09:30 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: Python and Embeded Systems</h4>
                <p>Enock</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch Break</h4>
                <p>Everyone</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p>13:30 - 16:30</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: Python and Embeded Systems</h4>
                <p>Enock</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-day_four" role="tabpanel" aria-labelledby="pills-contact-tab" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>08:00</p>
              </div>
              <div class="col-md-7">
                <h4>Pre Morning Session</h4>
                <p>Secretariat Opening Session</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p>08:30</p>
              </div>
              <div class="col-md-7"></div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>09:00</p>
              </div>
              <div class="col-md-7">
                <h4>Morning Session</h4>
              </div>
            </div>

            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>10:00</p>
              </div>
              <div class="col-md-7">
                <h4>Panel Discussion</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>10:30</p>
              </div>
              <div class="col-md-7">
                <h4>Break</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>11:00</p>
              </div>
              <div class="col-md-7">
                <h4>Panel Discussion</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>11:30</p>
              </div>
              <div class="col-md-7">
                <h4>Break Out Sessions</h4>
              </div>
            </div>

            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>13:00</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>14:00</p>
              </div>
              <div class="col-md-7">
                <h4>Afternoon BreakOut Session</h4>
              </div>
            </div>

            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>16:00</p>
              </div>
              <div class="col-md-7">
                <h4>Panel Discussion</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Thur 4th Dec</p>
                <p>17:00</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-day_five" role="tabpanel" aria-labelledby="pills-contact-tab" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>08:00</p>
              </div>
              <div class="col-md-7">
                <h4>Pre Morning Session</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p>08:30</p>
              </div>
              <div class="col-md-7">
                <p>Keynote</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>09:00</p>
              </div>
              <div class="col-md-7">
                <h4>ML for Data Science</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>09:30</p>
              </div>
              <div class="col-md-7">Morning Session</div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>10:00</p>
              </div>
              <div class="col-md-7">
                <h4>Panel Discussion</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>10:30</p>
              </div>
              <div class="col-md-7">
                <h4>Break</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>11:00</p>
              </div>
              <div class="col-md-7">
                <h4>Panel Discussion</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>11:30</p>
              </div>
              <div class="col-md-7">
                <h4>Break Out Sessions</h4>
              </div>
            </div>

            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>13:00</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Fri 5th Dec</p>
                <p>14:00</p>
              </div>
              <div class="col-md-7">
                <h4>Closing Speach Guest of Honour</h4>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
