{% extends 'pycon/base.html' %}
{% load static %}
{% block content %}
  <section id="whysponsor" class="mt-5">
    <div class="container pt-5" data-aos="fade-up">
      <div class="spacer-single"></div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="alert alert-warning d-flex align-items-center h-100" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
              <use xlink:href="#info-fill" />
            </svg>
            <div>
              Please note that the <strong>Workshops</strong> will take place on <strong>Sunday 1st</strong> and <strong>Monday 2nd</strong>December 2024 at <strong>COSTECH</strong>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="alert alert-success d-flex align-items-center h-100" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
              <use xlink:href="#info-fill" />
            </svg>
            <div>
              Please note that the <strong>Python Conference</strong> will take place on <strong>Tuesday 3rd</strong> and <strong>Wednesday 4th</strong> December 2024 at <strong>New Library, University Of Dar Es Salaam</strong>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="alert alert-warning d-flex align-items-center h-100" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
              <use xlink:href="#info-fill" />
            </svg>
            <div>
              Please note that the <strong>Workshops</strong> will take place on <strong>Thursday 5th</strong>December 2024 at <strong>Binary Labs</strong>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="spacer-single"></div>
      <div class="row" style="background-size: cover;">
        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active rounded-0" id="pills-day-one" data-bs-toggle="pill" data-bs-target="#pills-day_one" type="button" role="tab" aria-controls="pills-day_one" aria-selected="true">Day One - 1<sup>st</sup> Dec 2024 <br><small><strong>COSTECH</strong></small></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-day-two" data-bs-toggle="pill" data-bs-target="#pills-day_two" type="button" role="tab" aria-controls="pills-day_two" aria-selected="false">Day Two - 2<sup>nd</sup> Dec 2024 <br><small><strong>COSTECH</strong></small></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-day_three" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day Three - 3 <sup>rd</sup> Dec 2024 <br><small><strong>Main Library, UDSM</strong></small></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-day_four" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day Four - 4 <sup>th</sup> Dec 2024 <br><small><strong>Main Library, UDSM</strong></small></button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-0" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-day_five" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Day Five - 5 <sup>th</sup> Dec 2024 <br><small><strong>Binary Labs</strong></small></button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent" style="background-size: cover;">
          <div class="tab-pane fade show active" id="pills-day_one" role="tabpanel" aria-labelledby="pills-day-one" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>08:00 - 09:00</p>
              </div>
              <div class="col-md-7">
                <h4>Arrivals and Registration</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>09:00 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Django Girls Workshop</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch Break</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Sun 1st Dec</p>
                <p>13:30 - 16:30</p>
              </div>
              <div class="col-md-7">
                <h4>Django Girls Workshop</h4>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-day_two" role="tabpanel" aria-labelledby="pills-day-two" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>08:30 - 09:30</p>
              </div>
              <div class="col-md-7">
                <h4>Arrivals and Registration</h4>
                <p>Everyone</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>09:30 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: Building Android Apps with Python: From Basics to Deployment using Kivy and KivyMD</h4>
                <p>Aqulline Vendeline Mbuya</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch Break</h4>
                <p>Everyone</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Mon 2nd Dec</p>
                <p>13:30 - 16:00</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: An Introduction to Plotnine: Visualising Data using The Grammar of Graphics</h4>
                <p>Hasan Kibirige</p>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-day_four" role="tabpanel" aria-labelledby="pills-contact-tab" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>9:00 - 09:30</p>
              </div>
              <div class="col-md-7">
                <h4>Arrival and Registrations</h4>
                <p>All</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>09:30 - 9:50</p>
              </div>
              <div class="col-md-7">
                <h4>Opening Keynote Speech</h4>
                <p>CatherineRose Barretto</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>09:50 - 10:20</p>
              </div>
              <div class="col-md-7">
                <h4>Building Our Web</h4>
                <p>Dominique Hazael-Massieux</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>10:20 - 10:50</p>
              </div>
              <div class="col-md-7">
                <h4>Building Resilient Communities Using Django: A Case Study of AIRS and Green World Campaign</h4>
                <p>Chris Achinga</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>10:50 - 11:00</p>
              </div>
              <div class="col-md-7">
                <h4>Break</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>11:00 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Developing KAMUSI: A Swahili Dictionary and Translation Platform</h4>
                <p>Zephania Reuben & Isack Odero</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>11:30 - 12:00</p>
              </div>
              <div class="col-md-7">
                <h4></h4>
                <p>Anthony Mipawa - TIGO</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>12:00 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Data Science in Todays World</h4>
                <p>John Ndelembi</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>13:30 - 13:50</p>
              </div>
              <div class="col-md-7">
                <h4>Ligtening Talks</h4>
                <p>Deboarah & Martha</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>13:50 - 14:20</p>
              </div>
              <div class="col-md-7">
                <h4>Exploring the Adoption & Role of Open Source Software in Schools.</h4>
                <p>Robson Kanhalelo</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>14:20 - 14:50</p>
              </div>
              <div class="col-md-7">
                <h4>Ship It and Run it</h4>
                <p>Joseph Njogu</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>14:50 - 15:00</p>
              </div>
              <div class="col-md-7">
                <h4>Break</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>15:00 - 15:30</p>
              </div>
              <div class="col-md-7">
                <h4></h4>
                <p>Noah Maina</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>15:30 - 16:00</p>
              </div>
              <div class="col-md-7">
                <h4>Closing Keynote</h4>
                <p>Moses Mwasaga</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>16:00 - 16:30</p>
              </div>
              <div class="col-md-7">
                <h4>Building Opensource Communities</h4>
                <p>Catherinerose / Lupyana</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Wed 4th Dec</p>
                <p>16:30 - 17:00</p>
              </div>
              <div class="col-md-7">
                <h4>Keynote</h4>
                <p>Hassan Kibirige</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-day_three" role="tabpanel" aria-labelledby="pills-contact-tab" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>08:30 - 9:00</p>
              </div>
              <div class="col-md-7">
                <h4>Arrival and Registrations</h4>
                <p>All</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p>09:00 - 09:30</p>
              </div>
              <div class="col-md-7">
                <h4>Opening Keynote</h4>

                <p>Prof. Baraka Maiseli</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>09:30 - 10:00</p>
              </div>
              <div class="col-md-7">
                <h4>Transforming Healthcare in Tanzania: The Power of Python for Local Solutions</h4>
                <p>Siwangu Mgata</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>10:00 - 10:30</p>
              </div>
              <div class="col-md-7">
                <h4>Challenges and Opportunities in Unstructured PDF Text Extraction with Python.</h4>
                <p>Khadija Mahanga</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>10:30 - 11:00</p>
              </div>
              <div class="col-md-7"></div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>11:00 - 11:30</p>
              </div>
              <div class="col-md-7">
                <h4>Interactive Web Apps with Python and HTMX</h4>
                <p>Fuad Habib</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>11:30 - 12:00</p>
              </div>
              <div class="col-md-7">
                <h4></h4>
                <p>Stanley</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>12:00 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Web Applications Using Python Frameworks</h4>
                <p>Ernest Joseph</p>
              </div>
            </div>

            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>13:30 - 13:50</p>
              </div>
              <div class="col-md-7">
                <h4>Lightening Talks</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>13:50 - 14:20</p>
              </div>
              <div class="col-md-7">
                <h4>Exploratory Data Analysis Using Python: A Case Study with the Bicycle Sales Dataset</h4>
                <p>Abubbakar Yussuf Omar</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>14:20 - 14:50</p>
              </div>
              <div class="col-md-7">
                <h4>Keynote Tanpol</h4>
                <p>Humphrey</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>14:50 - 15:00</p>
              </div>
              <div class="col-md-7">
                <h4>Break</h4>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>15:00 - 15:30</p>
              </div>
              <div class="col-md-7">
                <h4>Panel Discussion</h4>
                <p></p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>15:30 - 16:00</p>
              </div>
              <div class="col-md-7">
                <h4>Simplifying Satellite Data Analytics Workflows using python and Jupyter Notebooks</h4>
                <p>Antidius Kawamala</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>16:00 - 16:20</p>
              </div>
              <div class="col-md-7">
                <h4>Lightening Talks</h4>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>16:20 - 16:50</p>
              </div>
              <div class="col-md-7">
                <h4>Ajira au Kazi? Uncover the Digital Work Revolution</h4>
                <p>Julius TM</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Tue 3rd Dec</p>
                <p>16:50 - 17:00</p>
              </div>
              <div class="col-md-7">
                <h4>Closing Remarks</h4>
                <p>MC</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-day_five" role="tabpanel" aria-labelledby="pills-contact-tab" style="background-size: cover;">
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Thur 5th Dec</p>
                <p>08:30 - 9:30</p>
              </div>
              <div class="col-md-7">
                <h4>Arrivals and Registration</h4>
                <p>Everyone</p>
              </div>
            </div>

            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p>09:30 - 12:30</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: Python and Embeded Systems</h4>
                <p>Enock</p>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-3">
                <p class="">Thur 5th Dec</p>
                <p>12:30 - 13:30</p>
              </div>
              <div class="col-md-7">
                <h4>Lunch Break</h4>
                <p>Everyone</p>
              </div>
            </div>
            <div class="row bg-grey pt-3">
              <div class="col-md-3">
                <p>13:30 - 16:30</p>
              </div>
              <div class="col-md-7">
                <h4>Workshop: Python and Embeded Systems</h4>
                <p>Enock</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
