{% extends 'pycon/base.html' %}
{% load static %}
{% block content %}
  <section id="whysponsor">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-12 col-md-12 d-flex align-items-stretch rounded" data-aos="zoom-in" data-aos-delay="100">
          <div class="">
            <h4><a href="">Why Sponsor PyCon Tanzania</a></h4>
            <p>Pycon Tanzania is run by volunteers on a non-profit basis. All the money we receive will go towards covering the costs of the event and reducing the cost for our attende</p>
            <div>
              <h5>This includes:</h5>
              <ul class="">
                <li>Catering and refreshments</li>
                <li>Venue rent</li>
                <li>Technical services</li>
                <li>Financial assistance for accommodation and travel for attendees and speakers on a low budget</li>
                <li>Video recordings for talks</li>
                <li>Conference merchandise and program booklet</li>
                <li>Basic running expenses</li>
              </ul>
              <p>Anything left over will be used for supporting future non-profit events.</p>
              <p>
                Join us as we make history with the 5th Python Developer Conference in Tanzania! Be a part of a thriving community of developers and position your brand at the forefront of the rapidly growing technology sector in Africa. With an expected 200 attendees from both the local and international community, sponsoring this landmark event is a unique opportunity to connect with and reach a highly engaged audience.

                If you are interested in becoming a sponsor or if you have any questions, then please email us at <a href="mailto:sponsor@pycon.or.tz"><b>sponsor@pycon.or.tz</b></a>
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <h2 class="mb-5">Our Sponsorship Packages</h2>

      <div class="d-flex justify-content-center mb-3">
        <div>
          <span class="me-3">USD</span>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="currencySwitch" />
          <span>TZS</span>
        </div>
      </div>

      <div class="row g-4 sponsor-cards">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body gold">
              <h6 class="card-title">Gold Sponsor</h6>
              <h4 class="card-text">
                <span class="usd-value">$10,000</span>
                <span class="tzs-value d-none">22.7 Million TZS</span>
              </h4>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>6 free sponsor tickets
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Sponsor name, logo, link and description on website
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Logo Banners, Website and Social Media
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Social media: Twitter and Linkedin posts
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Exhibition Space and Table
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Sponsor banner stands (2 max; provided by sponsor)
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Logo featured on Speaker backdrop
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Featured in wrap-up video with special thanks
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>One in person or pre-recorded sponsor talk or workshop
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Dedicated table at sprints or hack-a-thon
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Optional ten-minute speaking slot after keynote
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="mailto:secretariat@pycon.or.tz" class="btn bg-dark-subtle w-100">Contact Us</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body silver">
              <h6 class="card-title">Silver Sponsor</h6>
              <h4 class="card-text">
                <span class="usd-value"><i class="bi bi-currency-dollar"></i> $5,000</span>
                <span class="tzs-value d-none"><i class="bi bi-currency-exchange"></i> 13.6 Million TZS</span>
              </h4>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>4 free sponsor tickets
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Sponsor name, logo, link and description on website
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Logo Banners, Website and Social Media
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Social media: Twitter and Linkedin posts
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Exhibition Space and Table
                </li>

                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Logo featured on Speaker backdrop
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Featured in wrap-up video with special thanks
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>One in pre-recorded sponsor talk or workshop
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Optional ten minute speaking slot after keynote
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="mailto:secretariat@pycon.or.tz" class="btn bg-dark-subtle w-100">Contact Us</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body bronze">
              <h6 class="card-title">Bronze Sponsor</h6>
              <h4 class="card-text">
                <span class="usd-value"><i class="bi bi-currency-dollar"></i> $2,000</span>
                <span class="tzs-value d-none"><i class="bi bi-currency-exchange"></i> 5.4 Million TZS</span>
              </h4>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>2 free conference registrations.
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Sponsor name, logo, link and description on website
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Logo Banners, Website and Social Media
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Social media post mentioning your as sponsors
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="mailto:secretariat@pycon.or.tz" class="btn bg-dark-subtle w-100">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body lifetime">
              <h6 class="card-title">Lifetime Supporter</h6>
              <h4 class="card-text">
                <span class="usd-value"><i class="bi bi-currency-dollar"></i> $1000</span>
                <span class="tzs-value d-none"><i class="bi bi-currency-exchange"></i> 2.5 Million TZS</span>
              </h4>
              <ul class="list-unstyled">
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Sponsor name, logo, link and description on website
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Logo Banners, Website and Social Media
                </li>
                <li>
                  <i class="bi bi-check-circle-fill text-success me-1"></i>Social media post mentioning your as sponsors
                </li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="mailto:secretariat@pycon.or.tz" class="btn bg-dark-subtle w-100">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const currencySwitch = document.getElementById('currencySwitch')
      const usdValues = document.querySelectorAll('.usd-value')
      const tzsValues = document.querySelectorAll('.tzs-value')
      
      currencySwitch.addEventListener('change', () => {
        usdValues.forEach((value) => value.classList.toggle('d-none'))
        tzsValues.forEach((value) => value.classList.toggle('d-none'))
      })
    </script>

    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-6">
          <div class="section-title">
            <p>Our Current Sponsors</p>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div>
            {% comment %} <a href="mailto:secretariat@pycon.or.tz" class=""><button class="btn btn-primary">Become a Sponsor</button></a> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="section-title gold">
            <h2 class="gold">Gold Sponsors</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/sponsors/udsmlogo.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'images/sponsors/binarylabs.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="300">
            <img src="{% static 'images/sponsors/irabu.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="section-title silver">
            <h2 class="">Silver Sponsors</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/sponsors/udsmlogo.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'images/sponsors/binarylabs.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="300">
            <img src="{% static 'images/sponsors/irabu.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="section-title bronze">
            <h2 class="">Bronze Sponsors</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'images/sponsors/udsmlogo.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'images/sponsors/binarylabs.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
        <div class="col-lg-2 col-md-6 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="300">
            <img src="{% static 'images/sponsors/irabu.png' %}" class="img-fluid rounded-circle" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
