{% extends '_2020.html' %}
{% load static %}

{% block title %}PyCon Tanzania 2020{% endblock title %}

{% block content %}
<div class="no-bottom no-top" id="content">
  <div id="top"></div>
  <section id="section-hero" aria-label="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="spacer-single"></div>
          <h6 class="wow fadeInUp" data-wow-delay=".5s">
            <span class="text-uppercase id-color-2">
              Karibu PyCon Tanzania
            </span>
          </h6>
          <div class="spacer-10"></div>
          <h1 class="wow fadeInUp" data-wow-delay=".75s">The <span class="id-color">2nd</span> annual
            python language conference.</h1>
          <p class="wow fadeInUp lead" data-wow-delay="1s">
            For professionals, entrepreneurs, scientists and students in Tanzania, organized by the tech-community to
            foster collaboration and advancement of technology.
          </p>

          <div class="spacer-single"></div>
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-4 wow fadeInRight mb30" data-wow-delay="1.1s">
              <div class="de_count text-left">
                <h3><span>14<sup>th</sup> - 15<sup>th</sup> </span></h3>
                <h4 class="id-color">December 2020</h4>
              </div>
            </div>

            <div class="col-lg-7 col-md-6 col-sm-4 wow fadeInRight mb30" data-wow-delay="1.4s">
              <div class="de_count text-left">
                <h3>
                  <span>Venue</span>
                  <a href="https://goo.gl/maps/FMBTK6HnkzifeCSeA" target="_blank">&rarr;</a>
                </h3>
                <h4 class="id-color">Seedspace Auditorium, 13th Floor, Tanzanite Park</h4>
              </div>
            </div>
          </div>
          <div class="mb-sm-30"></div>
        </div>
        <div class="col-md-6 xs-hide">
          <div id="home-carousel" class="owl-carousel py-5 ps-5">
            <div class="item">
              <img src="{% static 'images/2020/10.webp' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/2020/7.webp' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/2020/8.webp' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/2020/9.webp' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/2020/1.webp' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-intro">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="text-center">
            <h2>Speakers</h2>
            <div class="small-border bg-color-2"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/davis.webp' %}" class="img-fluid" alt="Davis David" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Davis David</h3>
              <p class="fw-bold mb-">
                Data Scientist
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://zindi.africa/" target="_blank">
                  <img src="https://assets.zindi.africa/media/eb407ec80dd038cf06376a5ad67d8c36.svg" class="img-fluid"
                    style="height: 20px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="Zindi Africa" />
                  </diav>
                  <a href="https://www.linkedin.com/in/davis-david-783461124/" target="_blank"
                    class="btn btn-speaker">Speaker Profile &rarr; <span></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/selin.webp' %}" class="img-fluid" alt="Selin Gungor" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Selin Gungor</h3>
              <p class="fw-bold mb-">
                Machine Learning Engineer
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.ing.com/Home.htm" target="_blank">
                  <img src="https://www.ing.com/static/ingdotcompresentation/static/img/logos/logo.hd.png"
                    class="img-fluid" style="height: 20px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="ING" />
                  </diav>
                  <a href="https://www.linkedin.com/in/selin-gungor/" target="_blank" class="btn btn-speaker">
                    Speaker
                    Profile &rarr; <span></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/emmanuel.webp' %}" class="img-fluid" alt="Emmanuel P Mwanga" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Emmanuel P Mwanga</h3>
              <p class="fw-bold mb-">
                Researcher
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.ihi.or.tz/" target="_blank">
                  <img src="{% static 'images/misc/ihi.webp' %}" class="img-fluid" style="height: 40px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="IHI" />
                  </diav>
                  <a href="https://www.linkedin.com/in/emmanuel-p-mwanga-99052a1a9/" target="_blank"
                    class="btn btn-speaker">
                    Speaker
                    Profile &rarr; <span></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/philemon.webp' %}" class="img-fluid" alt="Philemon Mraushi" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Philemon Mraushi</h3>
              <p class="fw-bold mb-">
                Engineering Student
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.dit.ac.tz/" target="_blank">
                  <img src="{% static 'images/misc/dit.webp' %}" class="img-fluid" style="height: 40px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="DIT" />
                  </diav>
                  <a href="https://www.linkedin.com/in/philemon-mraushi-1945881b1/" target="_blank"
                    class="btn btn-speaker">
                    Speaker
                    Profile &rarr; <span></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/mahadia.webp' %}" class="img-fluid" alt="Mahadia Tunga" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Mahadia Tunga</h3>
              <p class="fw-bold mb-">
                Director Capacity Building
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://dlab.or.tz/" target="_blank">
                  <img src="https://dlab.or.tz/wp-content/uploads/2021/04/logo.svg" class="img-fluid" style="height: 40px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="DIT" />
                  </diav>
                  <a href="https://www.linkedin.com/in/mahadiatunga/" target="_blank" class="btn btn-speaker">
                    Speaker
                    Profile &rarr; <span></span>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/gajendra.webp' %}" class="img-fluid" alt="Gajendra Deshpande" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Gajendra Deshpande</h3>
              <p class="fw-bold mb-">
                Assistant Professor
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.git.edu/" target="_blank">
                  <img src="{% static 'images/misc/kls.webp' %}" class="img-fluid" style="height: 40px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="DIT" />
                  </diav>
                  <a href="https://www.linkedin.com/in/gajendradeshpande/" target="_blank" class="btn btn-speaker">
                    Speaker
                    Profile &rarr; <span></span>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/zephania.webp' %}" class="img-fluid" alt="Zephania" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Zephania Reuben</h3>
              <p class="fw-bold mb-">
                Founding Data Scientist
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://telesoftai.github.io/aiandlifes2/index.html" target="_blank">
                  <img src="{% static 'images/misc/tsai.webp' %}" class="img-fluid" style="height: 30px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="TeleSoft AI" />
                </a>
                <a href="https://www.linkedin.com/in/zephania-reuben-a42233185/" class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/tomasz.webp' %}" class="img-fluid" alt="Tomasz Konieczny" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Tomasz Konieczny</h3>
              <p class="fw-bold mb-">
                Senior QA Engineer
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://ro.co" target="_blank">
                  <img src="{% static 'images/misc/ro.jpeg'%}" class="img-fluid" style="height: 30px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="RO" />
                </a>
                <a href="https://www.linkedin.com/in/tomasz-konieczny/" class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/mariano.webp' %}" class="img-fluid"
                alt="Mariano Páscoa Mugana" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Mariano Páscoa Mugana</h3>
              <p class="fw-bold mb-">
                CS Student
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://iscim.ac.mz/" target="_blank">
                  <img src="{% static 'images/misc/iscim.webp' %}" class="img-fluid" style="height: 30px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="ISCIM" />
                </a>
                <a href="https://www.linkedin.com/in/mariano-mugana-b76115186/" class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/antony.webp' %}" class="img-fluid" alt="Antony Mipawa" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Antony Mipawa</h3>
              <p class="fw-bold mb-">
                Junior Data Scientist
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://udom.ac.tz/" target="_blank">
                  <img src="{% static 'images/misc/udom.webp' %}" class="img-fluid" style="height: 30px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="UDOM" />
                </a>
                <a href="https://www.linkedin.com/in/anthony-mipawa-b92bb6177/" class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/kalebu.webp' %}" class="img-fluid" alt="Kalebu" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Kalebu Gwalugano</h3>
              <p class="fw-bold mb-">
                Mechatronics Eng & Pythonista
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.neurotech.africa/" target="_blank">
                  <img
                    src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/714/5964027714_bd56b33c-3cf3-4e0b-acdb-232c6ef61722.png?cb=1630912001"
                    class="img-fluid" style="height: 30px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="MUST" />
                </a>
                <a href="https://www.linkedin.com/in/kalebu-gwalugano/" class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/koketso.webp' %}" class="img-fluid"
                alt="Koketso K. Motseothata" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Koketso K. Motseothata</h3>
              <p class="fw-bold mb-">
                Robotics & Game Developer
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.linkedin.com/in/koketso-kapfresh-motseothata-732729170/?originalSubdomain=za"
                  target="_blank">
                  Freelancer
                </a>
                <a href="https://www.linkedin.com/in/koketso-kapfresh-motseothata-732729170/"
                  class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/mary.webp' %}" class="img-fluid" alt="Mary Isamba" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Mary Isamba</h3>
              <p class="fw-bold">
                CyberSecurity Consultant
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://twitter.com/panganasisasa" target="_blank">
                  <img src="{% static 'images/misc/panga.webp' %}" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="Panganasi" />
                </a>
                <a href="https://www.linkedin.com/in/mary-isamba-24a19514a/" class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/logan.webp' %}" class="img-fluid" alt="Logan">
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Logan Velvindron</h3>
              <p class="fw-bold">
                Infrastructure Engineer
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://github.com/cyberstormdotmu" target="_blank">
                  <img src="https://avatars.githubusercontent.com/u/43320758?s=200&v=4" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="Cyberstorm Mauritius" />
                </a>
                <a href="https://github.com/loganaden" class="btn btn-speaker">Speaker Profile &rarr; <span></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/noah.webp' %}" class="img-fluid" alt="Noah" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">Noah Maina</h3>
              <p class="fw-bold mb-">
                Convener
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'home' %}" target="_blank">
                  <img src="{% static 'images/logo.webp' %}" class="img-fluid" style="height: 30px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="Pycon Convener" />
                </a>
                <a href="https://www.linkedin.com/in/mainamukhangunoah/" class="btn btn-speaker">Speaker Profile
                  &rarr; <span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-sm-30">
          <div class="de-card">
            <div class="de-image">
              <img src="{% static 'images/2020/speakers/cr.webp' %}" class="img-fluid" alt="CatherineRose Barretto" />
            </div>
            <div class="text border-0 px-4">
              <h3 class="text-uppercase mb-1">CatherineRose Barretto</h3>
              <p class="fw-bold mb-">
                Director
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://bit.africa/" target="_blank">
                  <img src="https://bit.africa/img/io.svg" class="img-fluid" style="height: 40px; width: auto; -webkit-filter: grayscale(1);
                filter: grayscale(1);" alt="BIT" />
                  </diav>
                  <a href="https://www.linkedin.com/in/catherinerose-barretto/" target="_blank"
                    class="btn btn-speaker">Speaker Profile &rarr; <span></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-why-choose-us" class="no-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="text-center">
            <h2>The Programme</h2>
            <div class="small-border bg-color-2"></div>
          </div>
        </div>
        <div class="col-md-6 py-5 pe-5">
          <iframe width="100%" height="420" src="https://www.youtube.com/embed/4Elmrr3P_vo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-6 mb20">
              <h4>Workshop Day</h4>
              <p>
                Curated hands-on workshops exploring the fundamentals of the Python language where participants learn
                from mentors.
              </p>
            </div>
            <div class="col-lg-6 mb20">
              <h4>Conference Day</h4>
              <p>
                Various 25min long, technical presentations selected through a CfP process that're related to projects
                using Python Language
              </p>
            </div>
            <div class="col-lg-6 mb20">
              <h4>Lightning Talks</h4>
              <p>
                Sessions where the folks engage in informal discussions to encourage collaboration on various Python
                related projects.
              </p>
            </div>
            <div class="col-lg-6 mb20">
              <h4>Python Meetups</h4>
              <p>
                Occasional events to bring together Python Users so as to increase collaboration among the Python
                language community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
