{% extends '_2024.html' %} {% load static %} {% block title %}
  PyCon Tanzania 2024
{% endblock %} {% block content %}
  <section>
    <div class="flexslider" id="home-slider">
      <ul class="slides">
        <li>
          <img src="{% static 'images/2024/bg_hjome.jpg' %}" alt="" />
          <div class="slide-wrap">
            <div class="slide-content">
              <div class="container">
                <!-- <h5 class="mb-15">Are you ready?</h5> -->
                {% comment %} <h1 class="upper">PyCon Tanzania 2024</h1> {% endcomment %}
                <!--                                <p class="mt-25">
                                        <a class="btn btn-light-out" href="#"
                                            >Get Tickets</a
                                        >
                                    </p>                                -->
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section id="home">
    <div class="container">
      <div class="title center">
        <h2 class="upper">The 5th Annual Python Language Conference</h2>
        <h4>The premier conference for Python enthusiasts and professionals, offering an unparalleled opportunity to dive deep into the world of Python and explore its limitless potential</h4>

        <h4>For professionals, entrepreneurs, scientists and students in Tanzania, organized by the tech-community to foster collaboration and advancement of technology.</h4>
        <h4>Join us for a week of Workshops, technical presentations/talks, lightening talks, hackathons, research showcasing, community collaboration and networking.</h4>
      </div>
    </div>
  </section>
  <section class="parallax-bg" id="venue">
    <div class="row-parallax-bg">
      <div class="parallax-wrapper">
        <div class="parallax-bg-element">
          <img src="{% static 'images/2024/udsm.jpg' %}" alt="" />
        </div>
      </div>
      <div class="parallax-overlay gradient"></div>
    </div>
    <div class="container">
      <div class="col-sm-12">
        <div class="title center">
          <h2 class="upper">University of Dar Es Salaam</h2>
          <h4>1st - 5th of December</h4>
        </div>
        <div class="row pb-25 pt-25"></div>
      </div>
    </div>
  </section>

  <!--                                <section class="p-5 bg-color-secondary">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-lg-8">
        <h1>Zanzibar Travel Guideline</h1>
        <h4>Please read the following resources to get more information about vaccine & test </h4>

      </div>
      <div class="col-lg-4 text-end">
        <a href="{% url 'travel' %}" class="btn btn-covid">Zanzibar Travel Advice &rarr;</a>
      </div>
    </div>
  </section>                                -->
{% endblock %}
