{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <title>
      {% block title %}
        PyCon Tanzania 2024
      {% endblock %}
    </title>
    <meta name="description" content="Python Tanzania, PyCon Conference Tanzania, Django Tanzania, Python Language Tanzania" />
    <meta name="author" content="" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    {% block css %}
      <!-- Bootstrap CSS -->
      <link id="bootstrap" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
      <link id="bootstrap-grid" href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet" type="text/css" />
      <link id="bootstrap-reboot" href="{% static 'css/bootstrap-reboot.min.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/owl.transitions.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
      <!-- color scheme -->
      <link id="colors" href="{% static 'css/colors/scheme-01.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/coloring.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/bundle.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'css/style24.css' %}" rel="stylesheet" type="text/css" />

      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" rel="stylesheet" type="text/css" />
      <link href="https://fonts.googleapis.com/css?family=Tangerine:400" rel="stylesheet" type="text/css" />
    {% endblock %}
  </head>

  <body>
    <main role="main" id="wrapper">
      <div id="preloader">
        <div class="preloader1"></div>
      </div>
      <header id="topnav">
        <div class="container">
          <!-- Logo container -->
          <div class="logo">
            <a href="{% url 'home' %}">
              <img class="logo-light" src="{% static 'images/pycon-black.jpg' %}" alt="" />
              <img class="logo-dark" src="{% static 'images/pycon-black.jpg' %}" alt="" />
            </a>
          </div>
          <!-- End Logo container -->
          <div class="menu-extras">
            <div class="menu-item toggle-nav">
              <!-- Mobile menu toggle -->
              <a class="menu-toggle" href="#"><div class="toggle-inner"></div></a>
              <!-- End mobile menu toggle -->
            </div>
          </div>
          <div class="right-aligned-menu" id="navigation">
            <ul class="navigation-menu nav">
              <li>
                <a href="{% url 'home' %}">Home<span></span></a>
              </li>
              <li>
                <a href="{% url 'speak' %}">Speak</a>
              </li>
              <li>
                <a href="{% url 'sponsor' %}">Sponsor<span></span></a>
              </li>
              <li>
                <a href="{% url 'schedule' %}">Schedule</a>
              </li>

              <li>
                <a href="{% url 'coc' %}">Code of Conduct<span></span></a>
              </li>
              <!--                                                                         <li>
                        <a href="#schedule" data-scroll="true">Schedule</a>
                    </li>
                    <li><a href="#location" data-scroll="true">Map</a></li>                                                                         -->
              <!--                                                                         <li class="menu-btn-item">
                        <a href="#tickets" data-scroll="true"
                            >Get Tickets</a
                        >
                    </li>                                                                         -->
            </ul>
          </div>
        </div>
      </header>
    </main>

    {% block content %}
      <p>Default content...</p>
    {% endblock %}

    <footer id="footer-widgets" class="footer-light border-0">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h5>Disclaimer</h5>
              <p>
                PyCon Tanzania follows other
                <a href="https://pycon.org" target="_blank" class="text-primary">Python Conferences</a>
                | Organized by the
                <a href="https://mail.python.org/mailman3/lists/tanzania.python.org/" target="_blank" class="text-primary">Python User Group</a>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h5>Our Community</h5>
              <ul>
                <li>
                  <a href="{% url 'about' %}">About Us</a>
                </li>
                <li>
                  <a href="https://github.com/pythontanzania" target="_blank">Open Source Projects</a>
                </li>
                <li>
                  <a href="{% url 'coc' %}">Code of Conduct<span></span></a>
                </li>
                <li>
                  <a href="{% url 'covid' %}">Covid Guideline</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h5>Previous Events</h5>
              <ul>
                <li>
                  <a href="/2019">2019</a>
                </li>
                <li>
                  <a href="/2020">2020</a>
                </li>
                <li>
                  <a href="/2021">2021</a>
                </li>
                <li>
                  <a href="/2022">2022</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
              <h5>Newsletter</h5>
              <p>Signup for our newsletter to get the latest news in your inbox.</p>
              <form class="newsletter-form" action="https://www.getrevue.co/profile/PyconTanzania/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank">
                <div class="input-group">
                  <input class="form-control" type="email" name="EMAIL" placeholder="Email" /><span class="input-group-btn"><button class="btn newsletter-btn" type="submit" value="&rarr;" name="member[subscribe]" id="member_submit">Subscribe</button></span>
                </div>
              </form>

              <div class="spacer-10"></div>
              <small>Your email is safe with us. We don't spam.</small>
            </div>
          </div>
        </div>
      </div>
      <div class="subfooter bg-light border-0">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="de-flex">
                <div class="de-flex-col">
                  <a href="{% url 'home' %}">
                    <img src="{% static 'images/flogo.png' %}" alt="Footer logo" style="height: 40px; width: auto" />
                    <span class="copy">&copy; Made with ♥ by PyCon Tanzania Community</span>
                  </a>
                </div>
                <div class="de-flex-col">
                  <div class="de-color-icons">
                    <a href="https://t.me/joinchat/JVIj_0D4zRIzNjg0" target="_blank"><i class="fa fa-telegram fa-lg"></i></a>
                    <a href="https://twitter.com/PyconTanzania"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://twitter.com/pycon.tanzania"><i class="fa fa-instagram fa-lg"></i></a>
                    <a href="https://www.linkedin.com/company/pycontanzania"><i class="fa fa-linkedin fa-lg"></i></a>
                    <a href="https://github.com/pythontanzania"><i class="fa fa-github fa-lg"></i></a>
                    <a href="https://www.facebook.com/pycontanzania"><i class="fa fa-facebook fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% block javascript %}
      <!-- Bootstrap JavaScript -->

      <script src=" {% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/wow.min.js' %}"></script>
      <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
      <script src="{% static 'js/owl.carousel.js' %}"></script>
      <script src="{% static 'js/OwlCarousel2Thumbs.min.js' %}"></script>
      <script src="{% static 'js/validation.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/enquire.min.js' %}"></script>
      <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
      <script src="{% static 'js/jquery.countTo.js' %}"></script>
      <script src="{% static 'js/jquery.lazy.min.js' %}"></script>
      <script src="{% static 'js/jquery.lazy.plugins.min.js' %}"></script>


      <!-- 3rd party JavaScript -->

      <!-- Project JS -->
      <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
  </body>
</html>
