{% extends '_2019.html' %}
{% load static %}

{% block title %}PyCon Tanzania 2019{% endblock title %}

{% block content %}
  <div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" aria-label="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="spacer-single"></div>
            <h6 class="wow fadeInUp" data-wow-delay=".5s">
              <span class="text-uppercase id-color-2">
                Karibu PyCon Tanzania
              </span>
            </h6>
            <div class="spacer-10"></div>
            <h1 class="wow fadeInUp" data-wow-delay=".75s">The <span class="id-color">1st</span> annual
              python language conference.</h1>
            <p class="wow fadeInUp lead" data-wow-delay="1s">
              For professionals, entrepreneurs, scientists and students in Tanzania, organized by the tech-community to
              foster collaboration and advancement of technology.</p>
            <div class="spacer-10"></div>

            <div class="spacer-single"></div>
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-4 wow fadeInRight mb30" data-wow-delay="1.1s">
                <div class="de_count text-left">
                  <h3><span>10<sup>th</sup> - 11<sup>st</sup> </span></h3>
                  <h4 class="id-color">December 2019</h4>
                </div>
              </div>

              <div class="col-lg-7 col-md-6 col-sm-4 wow fadeInRight mb30" data-wow-delay="1.4s">
                <div class="de_count text-left">
                  <h3>
                    <span>Venue</span>
                    <a href="https://goo.gl/maps/FMBTK6HnkzifeCSeA" target="_blank">&rarr;</a>
                  </h3>
                  <h4 class="id-color">Seedspace Auditorium, 13th Floor, Tanzanite Park</h4>
                </div>
              </div>
            </div>
            <div class="mb-sm-30"></div>
          </div>
          <div class="col-md-6 xs-hide">
            <div id="home-carousel" class="owl-carousel py-5 ps-5">
              <div class="item">
                <img src="{% static 'images/2019/8.jpg' %}" alt="">
              </div>
              <div class="item">
                <img src="{% static 'images/2019/9.jpg' %}" alt="">
              </div>
              <div class="item">
                <img src="{% static 'images/2019/2.jpg' %}" alt="">
              </div>
              <div class="item">
                <img src="{% static 'images/2019/3.jpg' %}" alt="">
              </div>
              <div class="item">
                <img src="{% static 'images/2019/10.jpg' %}" alt="">
              </div>
              <div class="item">
                <img src="{% static 'images/2019/7.jpg' %}" alt="">
              </div>
              <div class="item">
                <img src="{% static 'images/2019/6.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-intro">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-12">
            <div class="text-center">
              <h2>Speakers</h2>
              <div class="small-border bg-color-2"></div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/cr.png' %}" class="img-fluid" alt="CatherineRose Barretto" />
              </div>
              <div class="text border-0 px-4">
                <h4 class="text-uppercase mb-1">CatherineRose Barretto</h4>
                <p class="fw-bold mb-">
                  Director
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://bit.africa/" target="_blank">
                    <img src="https://bit.africa/img/io.svg" class="img-fluid" style="height: 40px; width: auto; -webkit-filter: grayscale(1);
                                                                                      filter: grayscale(1);" alt="BIT" />
                  </diav>
                  <a href="https://www.linkedin.com/in/catherinerose-barretto/" target="_blank"
                     class="btn btn-speaker">Speaker Profile &rarr; <span></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/daniel.png' %}" class="img-fluid" alt="Daniel Murungi" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Daniel Murungi</h3>
                <p class="fw-bold">
                  Chief Technology Officer
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://kabati.co.tz" target="_blank">
                    <img src="https://wp.kabati.co.tz/wp-content/uploads/2021/10/logo-kabati-dark-4.png" class="img-fluid"
                         style="height: 40px; width: auto; -webkit-filter: grayscale(1);
                                filter: grayscale(1);" alt=" Kabati Data Networks" />
                  </a>
                  <a href="https://wp.kabati.co.tz/about-us/" class="btn btn-speaker">Speaker Profile &rarr;
                    <span></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/dina.png' %}" class="img-fluid" alt="Dina" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Dr.Dina Machuve</h3>
                <p class="fw-bold mb-">
                  Lecturer & Researcher
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://nm-aist.ac.tz/" target="_blank">
                    <img src="{% static 'images/misc/nm.png' %}" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                                                                                          filter: grayscale(1);" alt="Nelson Mandela AIST" />
                  </a>
                  <a href="https://www.linkedin.com/in/dina-machuve-74106266/" class="btn btn-speaker">Speaker Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/toni.png' %}" class="img-fluid" alt="Toni Kalombo" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1"> Toni Kalombo</h3>
                <p class="fw-bold mb-">
                  Chief Technology Architect
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://devboks.com" target="_blank">
                    <img src="https://devboks.com/static/devboks_website/img/devboks-logo.png" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                                                                                                                        filter: grayscale(1);" alt="Devboks South Africa" />
                  </a>
                  <a href="https://www.linkedin.com/in/toni-yannick-kalombo-71b40b30/" class="btn btn-speaker">Speaker
                    Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/amani.png' %}" class="img-fluid" alt="Fredrick Amani" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Fredrick Amani</h3>
                <p class="fw-bold mb-">
                  Database Developer
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://www.nimr.or.tz" target="_blank">
                    <img src="{% static 'images/misc/nimr.png' %}" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                                                                                            filter: grayscale(1);" alt="National Institute for Medical" />
                  </a>
                  <a href="https://www.linkedin.com/in/fredrick-amani-147643111/" class="btn btn-speaker">Speaker Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/oscar.png' %}" class="img-fluid" alt="Oscar Makala" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Oscar Makala</h3>
                <p class="fw-bold mb-">
                  Software Engineer
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://airtel.co.tz" target="_blank">
                    <img src="https://airtel.co.tz/assets/images/airtel-logo.png" class="img-fluid" style="height: 20px; width: auto; -webkit-filter: grayscale(1);
                                                                                                           filter: grayscale(1);" alt="Airtel Tanzania" />
                  </a>
                  <a href="https://www.linkedin.com/in/oscarmakala/" class="btn btn-speaker">Speaker Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/khadija.png' %}" class="img-fluid" alt="Khadija Mahanga" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Khadija Mahanga</h3>
                <p class="fw-bold mb-">
                  Technologist
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://codeforafrica.org" target="_blank">
                    <img src="https://avatars.githubusercontent.com/u/2786364?s=200&v=4" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                                                                                                                  filter: grayscale(1);" alt="Code for Africa" />
                  </a>
                  <a href="https://www.linkedin.com/in/khadijamahanga/" class="btn btn-speaker">Speaker Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/reuben.png' %}" class="img-fluid" alt="Zephania Reuben" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Zephania Reuben</h3>
                <p class="fw-bold mb-">
                  Telecom Engineer Alumni
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://udom.ac.tz" target="_blank">
                    <img src="{% static 'images/misc/udom.png' %}" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                                                                                            filter: grayscale(1);" alt="UDOM" />
                  </a>
                  <a href="https://www.linkedin.com/in/zephania-reuben-a42233185/" class="btn btn-speaker">Speaker Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/issa.png' %}" class="img-fluid" alt="Issa Mshani" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Issa Mshani</h3>
                <p class="fw-bold mb-">
                  Research Officer/Biologist
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://ihi.or.tz" target="_blank">
                    <img src="{% static 'images/misc/ihi.png' %}" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                                                                                           filter: grayscale(1);" alt="Ifakara Health Institute" />
                  </a>
                  <a href="https://www.linkedin.com/in/issa-mshani-4b903a1a5/" class="btn btn-speaker">Speaker Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/marijani.png' %}" class="img-fluid" alt="Ramadhan Marijani" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Ramadhan Marijani</h3>
                <p class="fw-bold mb-">
                  Computer Science Alumni
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://udsm.ac.tz" target="_blank">
                    <img src="{% static 'images/misc/udsm.png' %}" class="img-fluid" style="height: 50px; width: auto; -webkit-filter: grayscale(1);
                                                                                            filter: grayscale(1);" alt="UDSM" />
                  </a>
                  <a href="https://www.linkedin.com/in/ramadhan-marijani-794a061a4//" class="btn btn-speaker">Speaker
                    Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/paul.png' %}" class="img-fluid" alt="Paul Basondole" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Paul Basondole</h3>
                <p class="fw-bold mb-">
                  Devops Engineer
                  Simbanet
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://simbanet.co.tz" target="_blank">
                    <img src="https://www.simbanet.net/sites/all/themes/Porto_sub/logo.png" class="img-fluid" style="height: 30px; width: auto; -webkit-filter: grayscale(1);
                                                                                                                     filter: grayscale(1);" alt="UDSM" />
                  </a>
                  <a href="https://www.linkedin.com/in/paul-i-2b3013108/" class="btn btn-speaker">Speaker Profile
                    &rarr; <span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-sm-30">
            <div class="de-card">
              <div class="de-image">
                <img src="{% static 'images/2019/speakers/david.png' %}" class="img-fluid" alt="Davis David" />
              </div>
              <div class="text border-0 px-4">
                <h3 class="text-uppercase mb-1">Davis David</h3>
                <p class="fw-bold mb-">
                  Zindi Ambassador
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="https://zindi.africa/" target="_blank">
                    <img src="https://assets.zindi.africa/media/eb407ec80dd038cf06376a5ad67d8c36.svg" class="img-fluid"
                         style="height: 20px; width: auto; -webkit-filter: grayscale(1);
                                filter: grayscale(1);" alt="Zindi Africa" />
                  </diav>
                  <a href="https://www.linkedin.com/in/davis-david-783461124/" target="_blank"
                     class="btn btn-speaker">Speaker Profile &rarr; <span></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-why-choose-us" class="no-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="text-center">
              <h2>The Programme</h2>
              <div class="small-border bg-color-2"></div>
            </div>
          </div>
          <div class="col-md-6 py-5 pe-5">
            <iframe width="100%" height="420" src="https://www.youtube.com/embed/4Elmrr3P_vo" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-lg-6 mb20">
                <h4>Workshop Day</h4>
                <p>
                  Curated hands-on workshops exploring the fundamentals of the Python language where participants learn
                  from mentors.
                </p>
              </div>
              <div class="col-lg-6 mb20">
                <h4>Conference Day</h4>
                <p>
                  Various 25min long, technical presentations selected through a CfP process that're related to projects
                  using Python Language
                </p>
              </div>
              <div class="col-lg-6 mb20">
                <h4>Lightning Talks</h4>
                <p>
                  Sessions where the folks engage in informal discussions to encourage collaboration on various Python
                  related projects.
                </p>
              </div>
              <div class="col-lg-6 mb20">
                <h4>Python Meetups</h4>
                <p>
                  Occasional events to bring together Python Users so as to increase collaboration among the Python
                  language community.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}