{% extends '_2021.html' %}

{% block title %}Pycon Event Schedule{% endblock %}

{% block content %}
<div class="flex-grow-1 no-bottom no-top" id="content">
    <section id="subheader" class="s2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2>Final Timetable</h2>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">Time left until event: </div>
                    <div class="clearfix"></div>
                    <div class="de_countdown id-color-2" data-year="2021" data-month="12" data-day="1" data-hour="8">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="spacer-single"></div>
        <p>
            Please note that this is the final timetable and we will only update it in case of any
            changes.</strong>
        </p>
        <p>Please note that the <strong>Workshops Sessions</strong> will take place on <strong>Monday 14th
                December 2020.</strong>
        </p>
        <p>Please note that the main <strong>Conference Plenary</strong> will take place on <strong>Tuesday
                15th December 2020.</strong>
        </p>
        <div class="row" style="background-size: cover;">

            <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active border-0" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">1 <sup>st</sup> Dec</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">2 <sup>nd</sup> Dec</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">3 <sup>rd</sup> Dec</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent" style="background-size: cover;">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    style="background-size: cover;">
                    <p>
                        <div class="monday">
                            <div class="card-group programme">
                                <div class="mb-3">
                                </div>
                            </div>
                            <div class="monday">
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>08.00</p>
                                    </div>
                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p><strong>Workshops Registration | 14th December 2020</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>09.00</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Workshops and Tutorials</strong><br>
                                                <a href="" class><i class="far " aria-hidden="true"></i>Registration
                                                    required<i class="far " aria-hidden="true"></i></a></p>
                                        </div>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Workshop</strong></p>
                                            <p>Morning</p>
                                            <ul>
                                                <li><strong>Python for Embedded Devices & IoT</strong><br>
                                                    Kalebu Gwalugano Jordan</li>
                                            </ul>
                                            <p>Afternoon</p>
                                            <ul>
                                                <li><strong>Tourism Machine Learning Hackathon </strong><br>
                                                    Davis David - Zindi Africa</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Tutorials</strong></p>
                                            <p>Morning</p>
                                            <ul>
                                                <li><strong>Computer Vision Based AI with Python</strong><br>
                                                    Philemon Mraushi </li>
                                            </ul>
                                            <p>Evening</p>
                                            <ul>
                                                <li><strong> Tourism Machine Learning Hackathon </strong><br>
                                                    Davis David - Zindi Africa</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3"></div>
                            </div>
                            <div class="monday">
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>08.00</p>
                                    </div>
                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p><strong>Conference Registration | 15th December 2020</strong></p>
                                        </div>
                                    </div>

                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p><strong> Opening Sessions </strong></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>09.00</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Keynote</strong> - Welcome to PyCon 2020 <br>
                                                Noah</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>09.15</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>PyCon </strong> - Python Conference Report <br>
                                                PyCon Secretriat </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>10.00</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Anthony Mipawa</strong> <br>
                                                Data Scientist, Machine Learning, AI</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>10.30</p>
                                    </div>
                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p><strong> Break </strong></p>
                                        </div>
                                    </div>

                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p><strong> Data Science, Deep Learning and Python </strong></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>11.00</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Zephania Reuben </strong><br>
                                                Deep Learning with Python</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>11.30</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Emmanuel Mwanga</strong><br>
                                                Mosquito Age Prediction with ML </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>12.00</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong> Mahadia Tunga </strong><br>
                                                Visualizing Geospatial Data With Python </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>12.30</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Prof. Gajendra Deshpande </strong><br>
                                                Investigating Digital Crimes Using Python</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>13.00</p>
                                    </div>
                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p>Lunch</p>
                                        </div>
                                    </div>

                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p><strong> Real World Python Use Cases </strong></p>
                                        </div>
                                    </div>


                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>14.00</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Mary Gabriel Isamba</strong><br>
                                                Ethical Hacking with Python </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>14.30</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Logan Velvindron</strong><br>
                                                Network Management with Scapy </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>15.00</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Selin Gungor</strong><br>
                                                Deploying ML Models Using Templates</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>15.30</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Tomasz Konieczny</strong><br>
                                                Serveless - How to Speedup Tests Over 300 Times</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>16.00</p>
                                    </div>
                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p>Break</p>
                                        </div>
                                    </div>

                                    <div class="card border-primary">
                                        <div class="card-body">
                                            <p><strong> Python In Gaming and Related Fields </strong></p>
                                        </div>
                                    </div>


                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>16.30</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p><strong>Panel Discussion</strong><br>
                                                Open Mic</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>17.15</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p>Lightning Talks = Mariano Páscoa Mugana | Koketso KapFresh Motseothata
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-group programme">
                                    <div class="card-header">
                                        <p>17.45</p>
                                    </div>
                                    <div class="card ">
                                        <div class="card-body">
                                            <p>Closing & Social Cocktail</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                    style="background-size: cover;">
                    <p>Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt
                        incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate
                        exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem
                        amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut
                        ullamco ea tempor duis.</p>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    style="background-size: cover;">
                    <p>Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua
                        irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu
                        veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip
                        sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam
                        incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem.</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}