{% extends '_2021.html' %}
{% load static %}
{% block title %}Speak at PyCon Tanzania{% endblock %}

{% block content %}
<div class="no-bottom no-top" id="content">
    <section id="subheader" class="s2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2>Pycon 2021 Event</h2>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">Time left until event: </div>
                    <div class="clearfix"></div>
                    <div class="de_countdown id-color-2" data-year="2021" data-month="12" data-day="1" data-hour="8">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Speak at the 2021 Python Conference in Arusha, Tanzania</h3>
                    <p>
                        Call for Presentation and Tutorials
                    </p>
                    <p>

                        PyCon Tanzania, is seeking for speakers of all experience levels and backgrounds to contribute
                        to
                        the Python Conference program! If you use the Python programming language professionally, as a
                        hobbyist or are just excited about Python or programming and open source communities, we'd love
                        to
                        hear from you. We want you and your ideas at the upcoming Python Conference!
                    </p>
                    <p>
                        The Python Tanzania Conference Programme consists of two parts, these being the
                        Talks/Presentations
                        and Tutorials Tracks.
                    </p>
                    <p>
                        Talks: These are the traditional talk sessions given during the main conference day which. PyCon
                        Tanzania is dedicated to featuring a diverse and inclusive mix of speakers in the lineup.
                    </p>
                    <p>
                        Tutorials: As with the talks, we are looking for tutorials that can grow this community at any
                        level. We aim for tutorials that will advance Python, advance this community, and shape the
                        future
                        of Tanzania through open source software. Each tutorial session runs for 3 full hours plus a
                        break
                        for coffee.
                    </p>
                    <p>
                        Lightning Talks: Lightning Talks are fun, short, five-minute (or less) talks. Ideally each talk
                        should make a single point, often in a fun, quirky or over-the-top way. Slides are optional but
                        often a good image can help get a point across quickly.
                    </p>
                    <p>
                        SUBMIT YOUR PRESENTATION / TUTORIAL TO: speak(at)pycon.or.tz
                    </p>

                    <div class="spacer-single"></div>

                    <h3>Best Practices for Speakers</h3>
                    <p>
                        Apply: Even if you have a vague idea, submit a proposal. We’re available for help with ideas and
                        feedback (contact information is in the section below). Don’t worry about communication skills
                        or
                        English - we are there to help with that too. And our focus is more on the content.
                    </p>
                    <p>
                        Diversity: We in the Python community believe in making our community more diverse. This means
                        we
                        are encouraging content from diverse walks of life. This also means we want to improve
                        participation
                        from under-represented groups.
                    </p>
                    <p>
                        Make it detailed: Add as much detail as possible to the proposal. Add the presentation slides if
                        you
                        already have one. Add a short minute video giving a summary of the proposal. More detail helps
                        reviewers make better judgement.
                    </p>
                    <p>
                        Propose early:We will start the review process as the proposals come in, and not at the end.
                        Proposals submitted early will get more attention and feedback.
                    </p>
                    <p>
                        The code of conduct: All speakers are expected to have read and adhere to the conference Code of
                        Conduct. Take a look at the code of conduct, and be mindful of it. The gist is, avoid using
                        sexist
                        language.
                    </p>

                    <div class="spacer-single"></div>

                    <h3>Presentations and Tutorials</h3>
                    <p>Topics must be relevant to Python Language and Open Source Software:</p>
                    <ul>
                        <li>
                            Python language usage in a project
                        </li>
                        <li>
                            Education and Open Source Software
                        </li>
                        <li>
                            Web & Cloud applications using Python framworks
                        </li>
                        <li>
                            Ideas on improving diversity and inclusiveness
                        </li>
                    </ul>

                    <div class="spacer-single"></div>



                </div>

                <div id="sidebar" class="col-lg-4">
                    <h3>Conference Timeline</h3>

                    <div class="de-box border-0 mb30">
                        <div class="sm-icon mb30">
                            <i class="bg-color fa fa-calendar-check-o"></i>
                            <div class="si-inner">
                                <h5>14th Sept, 2021</h5>
                                Call for Presentations
                            </div>
                        </div>
                        <div class="sm-icon mb30">
                            <i class="bg-color fa fa-calendar-check-o"></i>
                            <div class="si-inner">
                                <h5> 15th November, 2021</h5>
                                Final Accepting of Draft Presentations
                            </div>
                        </div>
                        <div class="sm-icon mb30">
                            <i class="bg-color fa fa-calendar-check-o"></i>
                            <div class="si-inner">
                                <h5>22nd November, 2021</h5>
                                Publishing of Accepted Speakers
                            </div>
                        </div>
                        <div class="sm-icon mb30">
                            <i class="bg-color fa fa-calendar-check-o"></i>
                            <div class="si-inner">
                                <h5>26th November, 2021</h5>
                                Publishing of Final Program
                            </div>
                        </div>
                        <div class="sm-icon mb30">
                            <i class="bg-color fa fa-calendar-check-o"></i>
                            <div class="si-inner">
                                <h5>1st - 5th December, 2021</h5>
                                Tutorials and Conference Begin
                            </div>
                        </div>
                        <div class="sm-icon no-bottom">
                            <i class="bg-color fa fa-map-marker"></i>
                            <div class="si-inner">
                                <h5>Location</h5>
                                <a href="https://goo.gl/maps/VvZ8XHAJ8V6T7tBd6" target="_blank">
                                    Institute of Accountancy Arusha &rarr;
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar_inner-sdsdsd">
                        <div id="quick_form" class="form-border mb30 border-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Grab your ticket now.</h3>
                                </div>
                                <div class="col-md-12">
                                    <h4>Scan QR</h4>
                                    <img src="{% static 'images/qr-code.png' %}" width="100%"
                                        alt="Buy ticket instruction" />
                                    <div class="spacer-single"></div>
                                    <h4>Or SMS</h4>
                                    <p class="bg-light fw-bold py-3 px-2">#oda tiketi 1 to phone 0764556463</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="de-box border-0">
                        <h3>Share With Friends</h3>
                        <div class="de-color-icons">
                            <a href="{% url 'home' %}"><i class="fa fa-twitter fa-lg"></i></a>
                            <span><i class="fa fa-facebook fa-lg"></i></span>
                            <a href=""><i class="fa fa-whatsapp fa-lg"></i></a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={% url 'home' %}">
                                <i class="fa fa-linkedin fa-lg"></i>
                            </a>
                            <a
                                href="mailto:?subject=Pycon 2021 Arusha&amp;body=Grab a ticket for PyCon Tanzania 2021 at https://pycon.co.tz">
                                <i class="fa fa-envelope fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}